@import url('https://fonts.googleapis.com/css?family=Oxygen');
body{
    font-family: 'Oxygen', sans-serif !important; 
    margin: 0px; 
    padding: 0px;
    height: 100vh;
}

.img_style{
    width: 110px;    
    display: inline !important;
}
 
.table_div{
    /* margin-top: 20px;
    /* margin-bottom: 20px; */
}

.filter_div{
    padding-left: 15px;
}

.div_top_view{
    /* background-color: #fafafa47; */
    height: 55px auto;
}

.div_left{
    background-color: #ffffff90;
    height: 80vh;
    padding:0px !important;
    overflow-y: auto;
    border-radius: 20px;
}

.div_content_show{
    /* background-color: #fafafa47; */
    padding-left: 30px !important;
    padding-top: 35px;
    background-size: 100% 100%;
    margin-left:px;
    padding-bottom: 35px;
    background-repeat: no-repeat;
    background-size: cover; 
    height:88vh;
}

.div_content_video{
    background-color: #ffffff90;
    padding-left: 20px !important;
    padding-top: 10px;
    background-size: 100% 100%;
    margin-bottom: 0px;
    border-radius: 20px;
    overflow-y: auto;
    height:80vh;
}

.div_content_video_outer{
    
}

.search_view {
    width: 70% !important;
    box-sizing: border-box;
    position: relative;
    border: 0px;
    /* border-radius: 4px; */
    font-size: 16px;
    background-color: #f6f6f6;
    background-image: url('searchicon.png');
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search_div{
    /*width: 50%;*/
    display: inline-flex !important;
    /* margin-top:10px; */
}

.main_li_view{
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    padding-left: 25px;
    font-family: 'Oxygen', sans-serif;
}

.maim_ul_view{
    padding: 0px;
}

.maim_ul_view li{
    cursor: pointer;
}

.main_li_view:hover{
    border-left: 2px solid #9fc9ee;
    background-color:#f5fafe;
}

.main_li_view:active{
    border-left: 2px solid #9fc9ee;
    background-color:#f5fafe;
}

.btn_search{
    border: 0px;
    background: #e4e4e4;
    padding: 7px 20px;
    position: absolute!important;
    outline: none;
    border-radius: 7px!important;
}

.alert_camera{
    padding: 10px;
    background-color: red!important;
    width: 270px;
    margin-left: 10px;
    color:#a9a9a9;
    font-size: 13px
}

.p_video_change{
    padding: 10px;
    background-color: white;
    width: 270px;
    margin: 0px!important;
    font-size: 13px;
    /*margin-left: 8px;*/
}

.camText{
    float: left;
    left: 60px;
}

.playerIcon{
    position: absolute;
    padding: 2px;
    z-index: 1;
    font-size: 16px !important;
}

.favOff{
    float: right;
    right: 10px;
    color: #999999;
}

.favOff:hover{
    float: right;
    right: 10px;
    color: #999999;
    font-size: 18px !important;
}

.favOn{
    float: right;
    right: 10px;
    color: #ffbf00;
}

.favOn:hover{
    float: right;
    right: 10px;
    color: #ffbf00;
    font-size: 18px !important;
}

.fullScreenIcon{
    float: right;
    right: 35px;
    color: #999999;
}

.fullScreenIcon:hover{
    float: right;
    right: 35px;
    color: #999999;
    font-size: 18px !important;
}

.pauseIcon{
    float: right;
    right: 60px;
    color: #999999;
}

.pauseIcon:hover{
    float: right;
    right: 60px;
    color: #999999;
    font-size: 18px !important;
}

.video_view_g{
    display: -webkit-box;
    border: 10px solid green;
} 

.video_view_r{
    display: -webkit-box;
    border: 10px solid red;
}

.video_icon{
    position: absolute;
    font-weight: 900 !important;
    right: 20px;
    color: red;
    top: 10px;
    z-index: 2;
}

.videoHead{
    background-color: whte;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 25px;
}

.active{
    border-left: 2px solid #9fc9ee;
    background-color:#f5fafe !important;
}

.vxgplayer_Success{
    box-shadow: 0px 0px 5px 1px green;
}

.vxgplayer_alert{
    box-shadow: 0px 0px 5px 1px red;
}

.play_video{
    position: absolute;
    top: 55px;
    right: 152px;
    font-size: 20px;
    border: 0px;
    background: none;
    color: white;
    font-size: 35px;
}

.video_frame{
    width: 270px;
    height: 152px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.video_shado{
    position: relative;
    width: auto;
    display: inline-block;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    margin-bottom: 20px;
}

#main{
    background-image:url('');
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
 }

 .camera_play_icon{
     position: absolute;
 }

 .video_container{
     margin: 0px 0px 10px 0px;
 }

 .button_browse{
     float: right;
     margin-right: 10px;
    padding: 4px 8px!important;
 }

 .selectpicker{
     float: right;
 }

 .lab_btn{
     padding: 0px !important
 }

.camera_view{
    width:270px;
    height:170px;
}

.play_camera_video{
    border: 0px;
    background: none;
    color: white;
    font-size: 35px !important; 
    position: absolute;
    right: 115px;
    top: 75px;
}

/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_content{
    display: block;
    background-color: #fff;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    width: auto;
    height: 98%;
}
