@import url('https://fonts.googleapis.com/css?family=Oxygen');

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Oxygen', sans-serif !important;
	min-height: 100%;
	height: 100%;
	margin-bottom: 60px;
	background: url(../background/robot.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
}

.top-buffer { 
	margin-top:20px;
}

.panel {
	width: 500px;
	height: 710px;
	margin: 0 auto;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.75);
	color: rgba(30, 30, 30, 1);
	margin-top: 100px;
}

.btn-xl {
    padding: 10px 20px;
    /*font-weight: bold;*/
    width: 200px;
	height: 200px;
}

#logo {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn_grp {
	text-align: center;
	align-content: center;
	/* border: 2px solid white; */
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.6);
	border-spacing: 10px;
}

#license_btn {
	margin-top: 25px;
    font-size: 18px;
    width: 140px;
	height: 50px;
	background-color: rgba(14, 138, 22, 1);
}

#log_btn {
	margin-top: 25px;
    font-size: 18px;
    width: 140px;
	height: 50px;
	background-color: rgba(14, 138, 22, 1);
}

#add_cam {
	background-image : url(../icons/add.svg);
	background-position : center center;
	background-repeat: no-repeat;
	background-size: 45% 45%;
	font-size: 40px;
}

#add_cam:hover {
	background-image : url(../icons/add.svg);
	background-position : center center;
	background-repeat: no-repeat;
	background-size: 0% 0%;
}

#view_cam {
	background-image : url(../icons/view.svg);
	background-position : center center;
	background-repeat: no-repeat;
	background-size: 45% 45%;
}

#view_cam:hover {
	background-image : url(../icons/view.svg);
	background-position : center center;
	background-repeat: no-repeat;
	background-size: 0% 0%;
	font-size: 40px;
}

#lic_status {
	margin-top: 25px;
	font-size: 18px;
}

#lic_msg {
	font-weight: bold;
}

.link-text {
	color: rgba(25, 40, 160, 1);
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.login_field {
	width: 70%
}
