/* Checkboc CSS */
/* The container */
@import url('https://fonts.googleapis.com/css?family=Oxygen');
body{
    font-family: 'Oxygen', sans-serif !important;
}

@-moz-document url-prefix() {
  
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 19px !important;
        left: -20px;
        height: 14px;
        width: 14px;
        background-color: #eee;
        border: 1px solid darkgray;
    }
    
  
    .container .checkmark:after {
        left: 3px;
        top: 19px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
 
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 0px !important;
    font-weight: 100 !important;
    font-size: 14px !important;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0px;
    /* -moz-top:19px; */
    left: -20px;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border: 1px solid darkgray;
}


/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 3px;
    top: 0px;
    /* -moz-top:19px; */
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End Chechbox CSS */




.main-p{
    height:700px;
    color:orange;
    font-size:38px;
    text-align:center;
    padding-top:320px;
}
  .main-pic{
    background:#263238;height:50px;padding-top:14px;
}
#main{
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover ;
    -webkit-background-size: cover ;
    -o-background-size: cover ;
    /* -moz-background-size: 100% 100% ;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%; */
}
.div_paddinglr{
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: 100% 100% ;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;

}
.logout_style{    
    padding-top: 8px;
    height: 48px;
}
.div_pdn_ht{
    padding-top: 0px !important;
    height: 48px;
}
.div_top{
    background-color: white;
    height: 48px;
}
.subcthre{
    padding:0px;
}
.imgs{    
    /* background-color:#eee ; */
    height:-webkit-fill-available;
    padding-bottom: 20px;
    padding-top:20px;
}
.sidebar{
    height:700px;
    background:#263238;
    padding:0px;
}
.img_style{
    width: 110px;    
    display: inline !important;
}
.listpnl{
    border-radius:0px;
    border:none;
}
#post-form{
    height: 525px;
    overflow-y: auto;
}
.div_mrgn{
    margin-top: 100px;
}
.h1_main{
    text-align: center;
    margin-top: 5px;
    color: #066daa;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    height: 25px !important;
    padding: 10px;
    
}
td{
    padding: 8px 5px !important;
}
.th_list{
    background: #066daa;
    color: white;
    height: 25px !important;
    text-align: center;
    font-weight: 100;
}
.td_data{
    padding: 8px 0px;
}

.tr_bgc:nth-child(even) {background-color: #f2f2f2;}
.add_btn{
    float: right;
    margin-top: 10px;
    margin-right: -10px;
    padding: 5px;
    border: 0px;
    background: blueviolet;
    color: white;
    display: inline;
}
.div_main{
    /* margin-top: 20px; */
    background: #fafafa47;
    /* margin-left: 20px; */
    margin-right: 20px;
	padding:0px !important;
    margin-left: 60px !important;
    margin-bottom:0px;
    /* opacity: 0.91; */
} 
.table_div{
    /* margin-top: 20px; */
    /*margin-bottom: 20px;*/
    overflow-y: auto;
    height: auto;
    background: #cccc;
}

.fontas_link{
    padding-right: 8px;
}
.link-main{
    color: white !important;
	font-weight:100;
}
.link-main:hover{
    color: white !important;
	font-weight:100;
	text-decoration: none;

}
.frame_style{
    width: 100%;
    height: 1000%;
    border: 0;
}

.video_div {
    padding: 5px !important;
    display: inline-block;
}
.btn_edit{
    border: 0px;
    color: white;
    border-radius: 4px;
    border-radius: 4px;border-radius: 4px;
    background: lightseagreen;
    padding: 2px 10px;
}
.btn_delet{
    border: 0px;
    color: white;
    border-radius: 4px;
    background: lightcoral;
    padding: 2px 10px;
    
}
.btn_sub{
    border: 0px;
    color: white;
    background: green;
    padding: 3px 10px;
    float: right;
    margin-top: 20px;
    border-radius: 4px;
}
.input_rig{
    background: gainsboro;
    border: 0px;
    padding: 5px;
    width: 100%;
}
.view_check{
    padding: 0px 25px 15px 5px;
    font-weight: 100 !important;
    /* width: 16px;
    height: 16px; */
}
.main_li:hover{
    background-color: none !important;
    cursor: pointer;
}
.main_ul {
    padding-left: 0px;
}
.main_li{
	list-style: none;
    padding: 15px 0px;
}
.video_div{
    margin-bottom: 20px;
}
.filter_div{
    padding-left: 15px;
}
.check_all{
    width: 16px;
    height: 16px;
}
.td_reg{
    width: 34%;
}
.td_rigall{
    border: 0px !important;
    margin-bottom: 8px !important;
    /* padding: 0px 10px !important; */
}
tr:nth-child(even){
    background: #cccc !important;
}
.div_top_view{
    background-color: white;
    height: 45px;
}
.div_left{
    background-color: white;
    height: 100%;
	padding:0px !important;
}
.div_content_show{
    background-color: #fafafa;
    padding-left: 0px !important;
    padding-top: 35px;
    background-size: 100% 100%;
    height: 600px auto;
	margin-bottom:0px;
	
}
.div_content_video{
	 background-color: #fafafa;
    padding-left: 20px !important;
    padding-top: 35px;
    background-size: 100% 100%;
    height: 600px auto;
	margin-bottom:0px;
}
.img_style_view{
    width: 150px;
    height: 50px;
    margin-left: 70px;
    margin-right: 30px;
}
.search_view {
    /* width: 130px; */
    box-sizing: border-box;
    border: 0px;
    /* border-radius: 4px; */
    font-size: 16px;
    background-color: #f6f6f6;
    background-image: url('searchicon.png');
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search_div{
    width: 50%;
    display: inline-flex !important;
	margin-top:15px;
}
.main_li_view{
    list-style: none;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 25px;
    font-family: 'Oxygen', sans-serif;
}
.maim_ul_view{
    padding: 0px;
}
.main_li_view:hover{
    border-left: 2px solid #9fc9ee;
    background-color:#f5fafe;
}
.main_li_view:active{
    border-left: 2px solid #9fc9ee;
    background-color:#f5fafe;
}
.btn_search{
    border: 0px;
    background: #e4e4e4;
    padding: 7px 20px;
}
.alert_camera{
    padding: 10px;
    background-color: red!important;
    width: 232px;
    margin-left: 10px;
	color:#a9a9a9;
}

.p_video_change{
    padding: 10px;
    background-color: white;
    width: 232px;
    margin: 0px!important;
    /* margin-left: 8px; */
}
.view_faveicon{
    position: absolute;
    float: right;
    right: 50px;
    /* top: 15px; */
    color: #c7c7c9;
    /* background: white; */
    padding: 2px;
    z-index: 1;
}
.view_faveicon_blue{
    position: absolute;
    float: right;
    right: 50px;
    /* top: 15px; */
    color: blue;
    /* background: white; */
    padding: 2px;
    z-index: 1;
}
.header_view{
    margin-left: 12px;
}
.video_view_g{
    display: -webkit-box;
    border: 10px solid green;
} 
.video_view_r{
    display: -webkit-box;
    border: 10px solid red;
}
.video_icon{
	position: absolute;
    font-weight: 900 !important;
    right: 30px;
	color: red;
    top: 10px;
    z-index: 2;
}
.videoHead{
	margin-left: 35px;
	font-size: 15px;
}
/*.list_ancar{
	color: black !important;
    font-weight: 100 !important;
    text-decoration: none !important;
}
.list_ancar:hover{
	color: black !important;
    font-weight: 100 !important;
    text-decoration: none !important;
}
.list_ancar:active{
	border-left: 2px solid #9fc9ee !important;
    background-color:#f5fafe !important;
	color: black !important;
    font-weight: 100 !important;
    text-decoration: none !important;
}*/

/*--- Alert Camera ---*/
.load_camera{
    padding: 10px;
    background-color: white;
    width: 200px;
    margin-left: 10px;
	color:#a9a9a9;
}

.alert_video_icon{

	position: absolute;
    right: 55px;
    font-size: 10px !important;
	color: red;
    top: 20px;
    z-index: 2;

}

.alert_view_faveicon{
    position: absolute;
    float: right;
    right: 50px;
    /* top: 15px; */
    color: green;
    /* background: white; */
    padding: 2px;
    z-index: 1;
}


	
/*--- Success Camera ---*/

.success_video_icon{

	position: absolute;
    right: 55px;
    font-size: 10px !important;
	color: green;
    top: 20px;
    z-index: 2;

}
.success_view_faveicon{

    position: absolute;
    float: right;
    right: 50px;
    /* top: 15px; */
    color: green; 
    /* background: white; */
    padding: 2px;
    z-index: 1;

}

/*--- Success Camera Ends---*/
.active{
    border-left: 2px solid #9fc9ee;
    background-color:#f5fafe !important;
}
.vxgplayer_Success{
	box-shadow: 0px 0px 5px 1px green;
}
.vxgplayer_alert{
	box-shadow: 0px 0px 5px 1px red;
}
.btn_user_list{
    float: right;
    padding: 2px; 
    width: 100px;
    margin-top: 10px;
    margin-left: 30px;
    -moz-padding: 0px !important;
    -webkit-padding: 0px !important;
}
.button_browse{
    float: right;
    margin-right: 10px;
   padding: 4px 8px!important;
}
.btn_close{
    border: 0px;
    color: white;
    background: #f08080;
    padding: 3px 10px;
    float: right;
    margin-top: 20px;
    border-radius: 4px;
    margin-right: 15px !important;
}

.close_btn{
    text-decoration: none;
    color: white;
}
.close_btn:hover{
    color:white;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
