<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Add Camera · GoDeep by DeepSight AI Labs</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="/static/fontawesome/css/all.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css' />
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var message = {{ message|tojson }};
            if (message.allow_add == 'false'){
                alert('You have added the maximum number of cameras allowed.');
                window.location.replace("/list");
            }
        }, false);

        function objectSelectOnChange() {
            if ($("#object_detect option[value=intrusion]:selected").length > 0) {
                $("#intrusion_start_time").attr('required', '');
                $("#intrusion_end_time").attr('required', '');
            }
            else {
                $("#intrusion_start_time").removeAttr('required');
                $("#intrusion_end_time").removeAttr('required');
            }

         }

        function crowdCountEnableOnChange() {
            if ($("#crowd_daily_enable").is(':checked')) {
                $("#daily_time").attr('required', '');
                $("#daily_start_1").attr('required', '');
                $("#daily_end_1").attr('required', '');
            }
            else {
                $("#daily_time").removeAttr('required');
                $("#daily_start_1").removeAttr('required');
                $("#daily_end_1").removeAttr('required');
            }

            if ($("#crowd_weekly_enable").is(':checked')) {
                $("#weekly_time").attr('required', '');
                $("#weekly_start_1").attr('required', '');
                $("#weekly_end_1").attr('required', '');
            }
            else {
                $("#weekly_time").removeAttr('required');
                $("#weekly_start_1").removeAttr('required');
                $("#weekly_end_1").removeAttr('required');
            }

            if ($("#crowd_monthly_enable").is(':checked')) {
                $("#monthly_time").attr('required', '');
                $("#monthly_start_1").attr('required', '');
                $("#monthly_end_1").attr('required', '');
                $("#monthly_date").attr('required', '');
            }
            else {
                $("#monthly_time").removeAttr('required');
                $("#monthly_start_1").removeAttr('required');
                $("#monthly_end_1").removeAttr('required');
                $("#monthly_date").removeAttr('required');
            }

        }

        function FillAllLists(f, currentObject, objects) {
            if (f[currentObject.concat("_copy")].checked == true) {
                for (key in objects) {
                    if (objects[key] == currentObject || objects[key] == "crowd_counting") {}
                    else {
                        f[objects[key].concat("_email_list")].value = f[currentObject.concat("_email_list")].value;
                        f[objects[key].concat("_sms_list")].value = f[currentObject.concat("_sms_list")].value;
                        f[objects[key].concat("_call_list")].value = f[currentObject.concat("_call_list")].value;
                        f[objects[key].concat("_sound_alarm")].checked = f[currentObject.concat("_sound_alarm")].checked;
                    }
                }
            }
            else {
                for (key in objects) {
                    if (objects[key] == currentObject || objects[key] == "crowd_counting") {}
                    else {
                        f[objects[key].concat("_email_list")].value = "";
                        f[objects[key].concat("_sms_list")].value = "";
                        f[objects[key].concat("_call_list")].value = "";
                        f[objects[key].concat("_sound_alarm")].checked = "";
                    }
                }
            }
        }


    </script>

    <style>
    .btn {
        font-size:1em;
    }

    /*for the form placeholders*/
    ::placeholder {
        color: black !important;
        opacity: 1 !important; /* Firefox */
        font-size: 15px; !important
    }

    /*the tab pills' behavior*/
    .pill .active a{
        background:orange !important;
            color:white;
    }
    .pill .active a:hover{
            <!--background:orange !important;-->
        }
    .pill a:hover {
         background:orange !important;
        color:white;
    }
    .pill a:inactive {
        background:orange !important;
        color:white;

    }

    /*for the user text input*/
    input[type=text] {
        font-size: 15px;
    }

    /*for the text in the nav pills*/
    .nav-pill-text{
        font-size: 18px;
        font-weight: bold !important;
    }

    /*top bar button font size*/
    .top-bar-link p{
        font-size: 30px;
        color: black;
    }

    /*top bar button icon size*/
    .top-bar-link i{
        font-size: 30px !important;
        width: 40px !important;
        color: black;
    }

    html, body {
        height: 100%;
    }

    #wrap {
        min-height: 100%;
        /*background-size: cover;
        background-repeat: no-repeat;*/
        background-position: center center;
        margin-top: 100px;
        background-image: url('/static/img/wall.png')
    }

    .selected {
        background-color: #ebebeb;

    }

    .radio-label-text {
        padding: 5px;
    }

    #field {
    margin-bottom:20px;
    }
    </style>
</head>

<body class="signup-page">
    <nav class="navbar navbar-expand-sm fixed-top bg-white">
        <div class="navbar-translate" style="height: 80px;">
                <a class="navbar-brand" href="http://www.deepsightlabs.com" target="_blank" rel="tooltip" title="DeepSight AI Labs" data-placement="bottom">
                    <img class="dsal_logo" src="/static/img/dsal.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
        </div>
        <div class="container">
            <div class="navbar-collapse collapse" data-nav-image="/static/img/blur1.jpg" data-color="orange">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link top-bar-link" href="/list">
                            <i class="fa fa-list"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link top-bar-link" href="/view">
                            <i class="fa fa-camera"></i>
                            <p>View</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link top-bar-link" href="/add">
                            <i class="fa fa-plus"></i>
                            <p>Add Camera</p>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <i class="fa fa-file-alt"></i>
                            <p>License Status</p>
                        </a>
                    </li>
                    <!--<li class="nav-item dropdown">-->
                        <!--<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">-->
                            <!--<p>Background</p>-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                            <!--<a class="dropdown-item" href="/background/bank/add_camera">Bank</a>-->
                            <!--<a class="dropdown-item" href="/background/hospital/add_camera">Hospital</a>-->
                            <!--<a class="dropdown-item" href="/background/insurance/add_camera">Insurance</a>-->
                            <!--<a class="dropdown-item" href="/background/pixel/add_camera">Pixel</a>-->
                            <!--<a class="dropdown-item" href="/background/retail/add_camera">Retail</a>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form class="form" action="/logout">
                            <button class="btn btn-warning btn-icon btn-round" title="Logout">
                                <i class="fa fa-sign-out"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper" id="wrap">
        <!--<div class="page-header section-image">-->
            <!--<div class="page-header-image" style="background-image: url('/static/img/{{ image }}');"></div>-->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <div class="card card-signup" style="padding-bottom:80px;">
                                <div class="card-body">
                                    {% block content %}
                                        <div class="container">
                                            {% with messages = get_flashed_messages() %}
                                                {% if messages %}
                                                    {% for message in messages %}
                                                    <div class="alert alert-warning">
                                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                        <font color="black">{{ message }}</font>
                                                    </div>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                        {% endblock %}
                                    <h3 class="card-title text-center"><b>Add Camera</b></h3>
                                    <br>
                                    <form class="form" method="POST" action="/addCamera">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input id="camera_name" name="camera_name" type="text" class="form-control" placeholder="Enter Camera Name" required>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input id="floor" name="floor" type="text" class="form-control" placeholder="Enter Floor" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 form-group">
                                                    <input id="rtsp_url" name="rtsp_url" type="text" class="form-control" placeholder="Enter Camera Stream URL" required>
                                                </div>
                                            </div>

                                            <!--<div class="row">-->
                                                <!--<div class="col-md-12 bootstrap-select show-tick">-->
                                                    <!--<select class="selectpicker show-tick" name="camera_priority" id="camera_priority" data-style="btn btn-default btn-round"-->
                                                        <!--title="Camera Priority" required>-->
                                                        <!--<option value="high">High</option>-->
                                                        <!--<option value="low">Low</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <div class="row">
                                                <div class="col-md-12 bootstrap-select show-tick">
                                                    <select class="selectpicker show-tick" name="object_detect" id="object_detect" data-style="btn btn-default btn-round"
                                                        multiple="" title="Object Detection" onchange="objectSelectOnChange()" >
                                                        {% for object in objects %}
                                                        <option value="{{ object }}" style="font-size:18px; font-weight: bold;">{{ object.split('_') | join(' ') | title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input id="favourite" name="favourite" class="form-check-input" type="checkbox">
                                                        <span class="form-check-sign"></span>
                                                        Favourite
                                                    </label>
                                                </div>
                                            </div>


                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <div class="nav-align-center">
                                                        <ul class="nav nav-pills nav-pills-info pill justify-content-center" role="tablist">
                                                            {% for object in objects %}
                                                            {% if object == "intrusion" %}
                                                            <li class="nav-item" style="padding-bottom: 1vh">
                                                                <a class="nav-link active nav-pill-text" data-toggle="tab" href="#{{ object }}_tab" role="tablist" onclick="Validate(this.form)">
                                                                    {{ object.split('_') | join(' ') | title }}
                                                                </a>
                                                            </li>
                                                            {% else %}
                                                            <li class="nav-item" style="padding-bottom: 1vh">
                                                                <a class="nav-link nav-pill-text" data-toggle="tab" href="#{{ object }}_tab" role="tablist" onclick="Validate(this.form)">
                                                                    {{ object.split('_') | join(' ') | title }}
                                                                </a>
                                                            </li>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="tab-content gallery">
                                                        {% for object in objects %}
                                                        <!--This if condition is to have a default page. Won't work if intrusion isn't present in the list of objects-->
                                                        {% if object == "intrusion" %}
                                                        <div class="tab-pane active" id="{{ object }}_tab" role="tabpanel">
                                                            <div class="row">
                                                                <div class = "col-md-12 form-group">
                                                                    <input id = "{{ object }}_email_list" name="{{ object }}_email_list" type="text" class="form-control" placeholder="Enter {{ object.split('_') | join(' ') | title }} Email ID List" pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$">
                                                                </div>
                                                                <div class = "col-md-12 form-group">
                                                                    <input id = "{{ object }}_sms_list" name="{{ object }}_sms_list" type="text" class="form-control" placeholder="Enter {{ object.split('_') | join(' ') | title }} SMS List" pattern="^(\+[0-9]{1,3}-[0-9]{10})(,(\+[0-9]{1,3}-[0-9]{10}))*$">
                                                                </div>
                                                                <div class = "col-md-12 form-group">
                                                                    <input id = "{{ object }}_call_list" name="{{ object }}_call_list" type="text" class="form-control" placeholder="Enter {{ object.split('_') | join(' ') | title }} Call List" pattern="^(\+[0-9]{1,3}-[0-9]{10})(,(\+[0-9]{1,3}-[0-9]{10}))*$">
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <input id="intrusion_start_time" name="intrusion_start_time" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" type="text"
                                                                        class="form-control" placeholder="Intrusion Start Time (24hrs HH:MM)">
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <input id="intrusion_end_time" name="intrusion_end_time" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" type="text"
                                                                        class="form-control" placeholder="Intrusion End Time (24hrs HH:MM)">
                                                                </div>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input id="{{ object }}_sound_alarm" name="{{ object }}_sound_alarm" class="form-check-input" type="checkbox">
                                                                        <span class="form-check-sign"></span>
                                                                        {{ object.split('_') | join(' ') | title }} Sound Alarm
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input id="{{ object }}_copy" name="{{ object }}_copy" class="form-check-input" type="checkbox" onclick="FillAllLists(this.form, '{{ object }}', {{ objects }})">
                                                                        <span class="form-check-sign"></span>
                                                                        Copy data to all objects
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% elif object == "crowd_counting" %}
                                                        <div class="tab-pane" id="{{ object }}_tab" role="tabpanel">
                                                             <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <!--<div class="nav-align-center">-->
                                                                            <ul class="nav nav-tabs nav-stacked" role="tablist">
                                                                                <li class="nav-item active">
                                                                                    <a class="nav-link active nav-pill-text" data-toggle="pill" href="#daily_tab" role="tablist">
                                                                                        Daily
                                                                                    </a>
                                                                                </li>
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link nav-pill-text" data-toggle="pill" href="#weekly_tab" role="tablist">
                                                                                        Weekly
                                                                                    </a>
                                                                                </li>
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link nav-pill-text" data-toggle="pill" href="#monthly_tab" role="tablist">
                                                                                        Monthly
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        <!--</div>-->
                                                                    </div>
                                                                    <div class="col-md-10">
                                                                        <div class="tab-content gallery">
                                                                            <div class="tab-pane active" id="daily_tab" role="tabpanel">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 form-group">
                                                                                        <label class="btn btn-warning form-control" style="margin-top:0px; font-size: 15px;">
                                                                                            <input id="crowd_daily_enable" name="crowd_daily_enable" class="form-check-input" type="checkbox" onchange="crowdCountEnableOnChange()">
                                                                                            <span class="form-check-sign"></span>
                                                                                            Enabled
                                                                                        </label>
                                                                                    </div>

                                                                                    <div class = "col-md-4 form-group">
                                                                                        <input id = "daily_time" name="daily_time" type="text" class="form-control" placeholder="Report Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "daily_email_list" name="daily_email_list" type="text" class="form-control" placeholder="Enter Email List" pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "daily_start_1" name="daily_start_1" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "daily_end_1" name="daily_end_1" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "daily_start_2" name="daily_start_2" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "daily_end_2" name="daily_end_2" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "daily_start_3" name="daily_start_3" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "daily_end_3" name="daily_end_3" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class= "col-md-12 form-group">
                                                                                        <input id = "daily_date" name="daily_date" type="text" class="form-control" placeholder="Report Date (1-28)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-8])$" style="visibility:hidden">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="tab-pane" id="weekly_tab" role="tabpanel">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 form-group">
                                                                                        <label class="btn btn-warning form-control" style="margin-top:0px; font-size: 15px;">
                                                                                            <input id="crowd_weekly_enable" name="crowd_weekly_enable" class="form-check-input" type="checkbox" onchange="crowdCountEnableOnChange()">
                                                                                            <span class="form-check-sign"></span>
                                                                                            Enabled
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class = "col-md-4 form-group">
                                                                                        <input id = "weekly_time" name="weekly_time" type="text" class="form-control" placeholder="Report Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "weekly_email_list" name="weekly_email_list" type="text" class="form-control" placeholder="Enter Email List" pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "weekly_start_1" name="weekly_start_1" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "weekly_end_1" name="weekly_end_1" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "weekly_start_2" name="weekly_start_2" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "weekly_end_2" name="weekly_end_2" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "weekly_start_3" name="weekly_start_3" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "weekly_end_3" name="weekly_end_3" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class = "col-md-12 form-group">
                                                                                        <label class="radio-inline radio-label-text">
                                                                                            <b>Reporting Day:</b>
                                                                                        </label>
                                                                                        <label class="radio-inline radio-label-text">
                                                                                            <input type="radio" name="crowd_day" id="radio_mon" value="mon" checked>
                                                                                            Monday
                                                                                        </label>
                                                                                        <label class="radio-inline radio-label-text">
                                                                                            <input type="radio" name="crowd_day" id="radio_tue" value="tue">
                                                                                            Tuesday
                                                                                        </label>
                                                                                        <label class="radio-inline radio-label-text">
                                                                                            <input type="radio" name="crowd_day" id="radio_wed" value="wed">
                                                                                            Wednesday
                                                                                        </label>
                                                                                        <label class="radio-inline radio-label-text">
                                                                                            <input type="radio" name="crowd_day" id="radio_thu" value="thu">
                                                                                            Thursday
                                                                                        </label>
                                                                                        <label class="radio-inline radio-label-text">
                                                                                            <input type="radio" name="crowd_day" id="radio_fri" value="fri">
                                                                                            Friday
                                                                                        </label>
                                                                                        <label class="radio-inline radio-label-text">
                                                                                            <input type="radio" name="crowd_day" id="radio_sat" value="sat">
                                                                                            Saturday
                                                                                        </label>
                                                                                        <label class="radio-inline radio-label-text">
                                                                                            <input type="radio" name="crowd_day" id="radio_sun" value="sun">
                                                                                            Sunday
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="tab-pane" id="monthly_tab" role="tabpanel">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 form-group">
                                                                                        <label class="btn btn-warning form-control" style="margin-top:0px; font-size: 15px;">
                                                                                            <input id="crowd_monthly_enable" name="crowd_monthly_enable" class="form-check-input" type="checkbox" onchange="crowdCountEnableOnChange()">
                                                                                            <span class="form-check-sign"></span>
                                                                                            Enabled
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class = "col-md-4 form-group">
                                                                                        <input id = "monthly_time" name="monthly_time" type="text" class="form-control" placeholder="Report Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "monthly_email_list" name="monthly_email_list" type="text" class="form-control" placeholder="Enter Email List" pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "monthly_start_1" name="monthly_start_1" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "monthly_end_1" name="monthly_end_1" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "monthly_start_2" name="monthly_start_2" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "monthly_end_2" name="monthly_end_2" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "monthly_start_3" name="monthly_start_3" type="text" class="form-control" placeholder="Enter Interval Start Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                    <div class = "col-md-6 form-group">
                                                                                        <input id = "monthly_end_3" name="monthly_end_3" type="text" class="form-control" placeholder="Enter Interval End Time (24hrs HH:MM)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class= "col-md-12 form-group">
                                                                                        <input id = "monthly_date" name="monthly_date" type="text" class="form-control" placeholder="Report Date (DD)" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-8]|3[0-1])$">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                             </div>
                                                        </div>












                                                        {% else %}
                                                        <div class="tab-pane" id="{{ object }}_tab" role="tabpanel">
                                                            <div class="row">
                                                                <div class = "col-md-12 form-group">
                                                                    <input id = "{{ object }}_email_list" name="{{ object }}_email_list" type="text" class="form-control" placeholder="Enter {{ object.split('_') | join(' ') | title }} Email ID List" pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$">
                                                                </div>
                                                                <div class = "col-md-12 form-group">
                                                                    <input id = "{{ object }}_sms_list" name="{{ object }}_sms_list" type="text" class="form-control" placeholder="Enter {{ object.split('_') | join(' ') | title }} SMS List" pattern="^(\+[0-9]{1,3}-[0-9]{10})(,(\+[0-9]{1,3}-[0-9]{10}))*$">
                                                                </div>
                                                                <div class = "col-md-12 form-group">
                                                                    <input id = "{{ object }}_call_list" name="{{ object }}_call_list" type="text" class="form-control" placeholder="Enter {{ object.split('_') | join(' ') | title }} Call List" pattern="^(\+[0-9]{1,3}-[0-9]{10})(,(\+[0-9]{1,3}-[0-9]{10}))*$">
                                                                </div>
                                                                <!--the following two divs are kept to maintain consistency, hidden for now, because not implemented-->
                                                                <div class="col-md-6 form-group">
                                                                    <input id="{{ object }}_start_time" name="{{ object }}_start_time" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" type="text" style="visibility: hidden;"
                                                                        class="form-control" placeholder="Intrusion Start Time (24hrs HH:MM)">
                                                                </div>
                                                                <div class="col-md-6 form-group">
                                                                    <input id="{{ object }}_end_time" name="{ object }}_end_time" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" type="text" style="visibility: hidden;"
                                                                        class="form-control" placeholder="Intrusion End Time (24hrs HH:MM)">
                                                                </div>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input id="{{ object }}_sound_alarm" name="{{ object }}_sound_alarm" class="form-check-input" type="checkbox">
                                                                        <span class="form-check-sign"></span>
                                                                        {{ object.split('_') | join(' ') | title }} Sound Alarm
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input id="{{ object }}_copy" name="{{ object }}_copy" class="form-check-input" type="checkbox" onclick="FillAllLists(this.form, '{{ object }}', {{ objects }})">
                                                                        <span class="form-check-sign"></span>
                                                                        Copy data to all objects
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="text-center">
                                            <a href="/list" class="btn btn-round btn-default">Cancel</a>
                                            <button type="submit" class="btn btn-round btn-success">Done</button>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>

    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <strong>GoDeep</strong> Platform
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>,
                <a href="http://www.deepsightlabs.com" target="_blank">DeepSight AI Labs</a>
            </div>
        </div>
    </footer>
</body>
<!-- Core JS Files -->
<script src="/static/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>

</html>