<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Add Camera · GoDeep by DeepSight AI Labs</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="/static/fontawesome/css/all.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css' />
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />

    <script type="text/javascript">
        function objectSelectOnChange() {
            if ($("#object_detect option[value=intrusion]:selected").length > 0) {
                $("#intrusion_start_time").attr('required', '');
                $("#intrusion_end_time").attr('required', '');
            }
            else {
                $("#intrusion_start_time").removeAttr('required');
                $("#intrusion_end_time").removeAttr('required');
            }
        }
    </script>

</head>

<body class="signup-page">
    <nav class="navbar navbar-expand-sm navbar-absolute bg-white">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" rel="tooltip" title="DeepSight AI Labs" data-placement="bottom">
                    <img class="dsal_logo" src="/static/img/dsal.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="/static/img/blur1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view">
                            <i class="fa fa-camera"></i>
                            <p>View</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">
                            <i class="fa fa-list"></i>
                            <p>List</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <p>Background</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/background/bank/add_camera">Bank</a>
                            <a class="dropdown-item" href="/background/hospital/add_camera">Hospital</a>
                            <a class="dropdown-item" href="/background/insurance/add_camera">Insurance</a>
                            <a class="dropdown-item" href="/background/pixel/add_camera">Pixel</a>
                            <a class="dropdown-item" href="/background/retail/add_camera">Retail</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper" style="padding-top: 4vh;">
        <div class="page-header section-image">
            <div class="page-header-image" style="background-image: url('/static/img/{{ image }}');"></div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <div class="card card-signup">
                                <div class="card-body">
                                    <h3 class="card-title text-center">Add Camera</h3>
                                    <br>
                                    <form class="form" method="POST" action="/addCamera">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input id="camera_name" name="camera_name" type="text" class="form-control" placeholder="Camera Name" required>
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input id="floor" name="floor" type="text" class="form-control" placeholder="Floor" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 form-group">
                                                    <input id="rtsp_url" name="rtsp_url" type="text" class="form-control" placeholder="Camera Stream URL" required>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 form-group">
                                                    <input id="email_list" name="email_list" type="text" class="form-control" placeholder="Email ID List" pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <input id="sms_list" name="sms_list" type="text" class="form-control" placeholder="SMS List" pattern="^[0-9]{10}(,[0-9]{10})*$">
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <input id="call_list" name="call_list" type="text" class="form-control" placeholder="Call List" pattern="^[0-9]{10}(,[0-9]{10})*$">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input id="intrusion_start_time" name="intrusion_start_time" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" type="text"
                                                        class="form-control" placeholder="Intrusion Start Time (24hrs HH:MM)">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input id="intrusion_end_time" name="intrusion_end_time" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" type="text"
                                                        class="form-control" placeholder="Intrusion End Time (24hrs HH:MM)">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 bootstrap-select show-tick">
                                                    <select class="selectpicker show-tick" name="camera_priority" id="camera_priority" data-style="btn btn-default btn-round"
                                                        title="Camera Priority" required>
                                                        <option value="high">High</option>
                                                        <option value="low">Low</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 bootstrap-select show-tick">
                                                    <select class="selectpicker show-tick" name="object_detect" id="object_detect" data-style="btn btn-default btn-round"
                                                        multiple="" title="Object Detection" onchange="objectSelectOnChange()">
                                                        {% for object in objects %}
                                                        <option value="{{ object }}">{{ object.split('_') | join(' ') | title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input id="sound_alarm" name="sound_alarm" class="form-check-input" type="checkbox">
                                                        <span class="form-check-sign"></span>
                                                        Sound Alarm
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input id="favourite" name="favourite" class="form-check-input" type="checkbox">
                                                        <span class="form-check-sign"></span>
                                                        Favourite
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        {% for object in objects %}
                                            <div>
                                                <input id = "{{object}}_email_list" name="{{object}}_email_list" type="text" class="form-control" placeholder="{{ object }} Email ID List" pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$">
                                            </div>
                                            <div>
                                                <input id = "{{object}}_sms_list" name="{{object}}_sms_list" type="text" class="form-control" placeholder="{{ object }} SMS List" pattern="^[0-9]{10}(,[0-9]{10})*$">
                                            </div>
                                            <div>
                                                <input id = "{{object}}_call_list" name="{{object}}_call_list" type="text" class="form-control" placeholder="{{ object }} Call List" pattern="^[0-9]{10}(,[0-9]{10})*$">
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input id="{{object}}_sound_alarm" name="{{object}}_sound_alarm" class="form-check-input" type="checkbox">
                                                    <span class="form-check-sign"></span>
                                                    Sound Alarm
                                                </label>
                                            </div>
                                        {% endfor %}
                                        <div class="text-center">
                                            <a href="/list" class="btn btn-round btn-default">Cancel</a>
                                            <button type="submit" class="btn btn-round btn-success">Done</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <strong>GoDeep</strong> Platform
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>,
                <a href="http://www.deepsightlabs.com" target="_blank">DeepSight AI Labs</a>
            </div>
        </div>
    </footer>
</body>

<!-- Core JS Files -->
<script src="/static/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>

</html>