<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/jquery.blockUI.js"></script>

<script>
   
    /*$("#post-form").submit(function(){
        alert("submit success");      
    });*/

    function loadInit() {
             
        var cameraId = localStorage.getItem('camera_id');
        console.log(cameraId);
        
        $.ajax({
            url: 'load.php',
            type: 'POST',
            data: { reqMethod: 'getCamera', camera_id:cameraId },
            dataType: "json",
            success: function (response) {
                console.log("Response");
                console.log(response);  
		        console.log(response.camera_type);
		        console.log(response.ipaddress);
 
                //var result= $.parseJSON(response);                        
                // TODO Bind the data values to the fileds
 
            	// $("#camerasensitive").val(response.camera_sensitive);
	            $("#cameraname").val(response.camera_name);
            	$("#emaillist").val(response.email_list);
            	$("#smslist").val(response.sms_list);
            	$("#calllist").val(response.call_list);
            	$("#rtspurl").val(response.rtsp_url);
                $("#httpurl").val(response.http_url);
            	$("#intrusionstarttime").val(response.intrusion_start_time);
            	$("#intrusionendtime").val(response.intrusion_end_time);
                $("#floor").val(response.floor);
            	$("#soundalarm").prop('checked', response.sound_alarm);
                $("#favourite").prop('checked', response.favourite);
            
            	var object_detect = response.object_detect;
            	console.log(object_detect);

            	$("#hoody").prop('checked',object_detect.hoody);
            	$("#burkha").prop('checked',object_detect.burkha);
            	$("#helmet").prop('checked',object_detect.helmet);
            	$("#fire").prop('checked',object_detect.fire);
            	$("#intrusion").prop('checked',object_detect.intrusion);
                
            },
            error: function () {
                // alert("Failed establishing communication with the server");
                window.location="home";
            }
        });
    }
            
function submitForm(){
    
    var data = {};        
    var objectdetect = {};

    var regExp = /^(([01]?[0-9]|2[0-3]):[0-5][0-9])$/;
    var ipregExp = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;

    if(($("#cameraname").val()).trim() == "" || ($("#rtspurl").val()).trim() == "" || ($("#httpurl").val()).trim() == "" || ($("#floor").val()).trim() == "")
    {
        return false;            
    }

    else if(!validateEmailList() && (($("#emaillist").val()).trim()!=""))
    {
        console.log("Email Failed");
        emaillist.focus;
        document.getElementById('emlist').innerHTML='Enter Valid Email ID';
        return false; 
    }

    else if(!validateSmsList() && (($("#smslist").val()).trim()!=""))
    {
        console.log("SMS Failed");
        smslist.focus;
        document.getElementById('smsli').innerHTML='Enter Valid Phone Number';
        return false; 
    }

    else if(!validateCallList() && (($("#calllist").val()).trim()!=""))
    {
        console.log("Call Failed");
        calllist.focus;
        document.getElementById('callli').innerHTML='Enter Valid Phone Number';
        return false; 
    }
   
    // TODO: Make it dynamic for all objects
    else if(($("#intrusion").prop('checked')==true))
    {
        if(!regExp.test(($("#intrusionstarttime").val()).trim()) || ($("#intrusionstarttime").val()).trim()=="")
        {
            console.log("Start Time Failed");
            intrusionstarttime.focus;
            document.getElementById('timeformats').innerHTML='Start Time Required!';
            return false;
        }

        else if(!regExp.test(($("#intrusionendtime").val()).trim()) || ($("#intrusionendtime").val()).trim()=="")
        {
            console.log("End Time Failed");
            intrusionendtime.focus;
            document.getElementById('timeformate').innerHTML='End Time Required!';
            return false;   
        }
    }

    // All validation has passed now //

    objectdetect['hoody'] = $("#hoody").prop('checked') == true ? 1:0;
    objectdetect['burkha'] = $("#burkha").prop('checked') == true ? 1:0;
    objectdetect['helmet'] = $("#helmet").prop('checked') == true ? 1:0;
    objectdetect['fire'] = $("#fire").prop('checked') == true ? 1:0;
    objectdetect['intrusion'] = $("#intrusion").prop('checked') == true ? 1:0; 

    //console.log(objectdetect);
    var cameraId = localStorage.getItem('camera_id');

    // data["camera_sensitive"] = parseInt($("#camerasensitive").val());
    data["camera_name"] = $("#cameraname").val();
    data["email_list"] = ($("#emaillist").val()).split(",");
    data["sms_list"] = ($("#smslist").val()).split(",");
    data["call_list"] = ($("#calllist").val()).split(",");
    data["rtsp_url"] = $("#rtspurl").val();
    data["http_url"] = $("#httpurl").val();
    data["object_detect"] = objectdetect;    
    data["intrusion_start_time"] = $("#intrusion").prop('checked') == true ? $("#intrusionstarttime").val() : "";
    data["intrusion_end_time"] = $("#intrusion").prop('checked') == true ? $("#intrusionendtime").val() : "";
    data["floor"] = $("#floor").val();            
    data["sound_alarm"] = $("#soundalarm").prop('checked') == true ? 1:0;
    data["favourite"] = $("#favourite").prop('checked') == true ? 1:0;

    var jsondata = JSON.stringify(data);
    console.log(jsondata);
    editCamera(jsondata, cameraId);
}
    
function validateEmailList(){
    console.log("validateEmailList");
    var emailregExp = /^([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4})+$/;
    
    var emails = ($("#emaillist").val()).split(",");
    var isBoolean = true;

    if(($("#emaillist").val()).trim()=="")
    {
        return isBoolean;
    }

    emails.forEach(function(email) {
        console.log(email);
        if(!emailregExp.test(email)){            
            console.log(email+" Email Verification Failed");
            isBoolean = false;             
        }
    });
    return isBoolean;    
}
 
function validateSmsList(){
    console.log("validateSmsList");
    var smsregExp = /^([0-9]{10})+$/;
    
    var smses = ($("#smslist").val()).split(",");
    var isBoolean = true;

    if(($("#smslist").val()).trim()=="")
    {
        return isBoolean;
    }

    smses.forEach(function(sms) {
        console.log(sms);
        if(!smsregExp.test(sms)){            
            console.log(sms+" SMS Verification Failed");
            isBoolean = false;             
        }
    });
    return isBoolean;    
} 

function validateCallList(){
    console.log("validateCallList");
    var callregExp = /^([0-9]{10})+$/;
    
    var calls = ($("#calllist").val()).split(",");
    var isBoolean = true;

    if(($("#calllist").val()).trim()=="")
    {
        return isBoolean;
    }

    calls.forEach(function(call) {
        console.log(call);
        if(!callregExp.test(call)){            
            console.log(call+" Call Verification Failed");
            isBoolean = false;             
        }
    });
    return isBoolean;    
} 

function editCamera(jsondata,cameraId){
    //$.blockUI();
    $.ajax(
    {
            url: 'load.php',
            type: 'POST',
            data: { reqMethod: 'editCamera',data:jsondata,camera_id:cameraId},
            dataType: "json",
            success: function (response) {
                console.log("Response<br/>");
                console.log(response);   
                //$(document).ajaxStop($.unblockUI);
                 //alert("submit");
                //console.log(response['status']);
                
                if(response['status']){
                    //alert("Success");
                    window.location.href = "";
                }
                else{
                    alert("Failed");
                    //window.location.href = "";
                    //window.location.href = "http://localhost/dialabsapp/index.html";
                }
            },
            error: function () {
                // alert("Failed establishing communication with the server");
                window.location="home";
            }
    });
}
    
loadInit(); 

function onFocusOutEmailList()
{        
    document.getElementById('emlist').innerHTML='';
}

function onFocusOutSMSList()
{
    document.getElementById('smsli').innerHTML='';
}

function onFocusOutCallList()
{
    document.getElementById('callli').innerHTML='';
}
    
</script>

<div class="col-md-12 table_div table-responsive" >
    
    <h3>Edit Camera</h3><hr/>
    
    <form class="form-inline" id="post-form" name="rigform" method="post" onsubmit="return false">

        <div class="col-md-6">
            <span for="cameraname" class="td_rigall col-md-4">Camera Name</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="cameraname" type="text" class="input_rig" name="cameraname" placeholder="Enter Camera Name" required>
                <p id="cname" style="color:red"></p>
            </span>
        </div>

        <div class="col-md-6">
            <span for="floor" class="td_rigall col-md-4">Floor</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="floor" type="text" class="input_rig" name="floor" placeholder="Enter Floor Name" required>
                <p id="e_floor" style="color:red"></p>
            </span>
        </div>

        <!--div class="col-md-6">
            <span for="camerasensitive" class="td_rigall col-md-4">Camera Sensitivity</span>
            <span class="td_reg td_rigall col-md-8">
                <select id="camerasensitive" name="camerasensitive" class="input_rig" required>
                    <option name="highsensitivity" value=0>High Sensitivity</option>
                    <option name="mediumsensitivity" value=1>Medium Sensitivity</option>
                    <option name="lowsensitivity" value=2>Low Sensitivity</option>
                </select>
            </span>
        </div-->

        <div class="col-md-6">
            <span for="rtspurl" class="td_rigall col-md-4">Main Stream URL</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="rtspurl" type="text" class="input_rig" name="rtspurl" placeholder="Enter Main Stream URL" required>
                <p id="rtsp" style="color:red" ></p>
            </span>
        </div>

        <div class="col-md-6">
            <span for="emaillist" class="td_rigall col-md-4">Email ID List</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="emaillist" type="text" class="input_rig" name="emaillist" placeholder="Enter Email IDs seperated by ','" onfocusout="onFocusOutEmailList()">
                <p id="emlist" style="color:red"></p>
            </span>
        </div>

        <div class="col-md-6">
            <span for="httpurl" class="td_rigall col-md-4">Sub Stream URL</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="httpurl" type="text" class="input_rig" name="httpurl" placeholder="Enter Sub Stream URL" required>
                <p id="http" style="color:red" ></p>
            </span>
        </div>

        <div class="col-md-6">
            <span for="smslist" class="td_rigall col-md-4">SMS List</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="smslist" type="text" class="input_rig" name="smslist" placeholder="Enter Mobile Numbers seperated by ','" onfocusout="onFocusOutSMSList()">
                <p id="smsli" style="color:red"></p>
            </span>
        </div>

        <div class="col-md-6">
            <span for="intrusionstarttime" class="td_rigall col-md-4">Intrusion Start Time</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="intrusionstarttime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" class="input_rig" name="timeStart" placeholder="Enter Intrusion Start Time (24hrs HH:MM)">
                <p id="timeformats" style="color:red"></p>
            </span>
        </div>

        <div class="col-md-6">
            <span for="calllist" class="td_rigall col-md-4">Call List</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="calllist" type="text" class="input_rig" name="calllist" placeholder="Enter Mobile Numbers seperated by ','" onfocusout="onFocusOutCallList()">
                <p id="callli" style="color:red"></p>            
            </span>
        </div>

        <div class="col-md-6">
            <span for="intrusionendtime" class="td_rigall col-md-4">Intrusion End Time</span>
            <span class="td_reg td_rigall col-md-8">
                <input id="intrusionendtime" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" class="input_rig" name="timeEnd" placeholder="Enter Intrusion End Time (24hrs HH:MM)">
            <p style="color:red" id="timeformate"></p>
            </span>
        </div>

        <div class="col-md-6" style="height: 48px;">
            <span for="favourite" class="td_rigall col-md-4">Add to Favourites</span>
            <span class="td_reg td_rigall col-md-8" style="padding-left: 36px;">
                <div class="checkbox">
                    <label class="container">
                        <input id="favourite" class="input" name="favourite" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </span>  
        </div>

        <div class="col-md-6" style="height: 48px;">
            <span for="soundalarm" class="td_rigall col-md-4">Sound Alarm</span>
            <span class="td_reg td_rigall col-md-8" style="padding-left: 36px;">
                <div class="checkbox">
                    <label class="container">
                        <input id="soundalarm" class="input" name="soundalarm" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </span>  
        </div>

        <div class="col-md-12">
            <span for="container" class="td_rigall col-md-2">Object Detect</span>
            <span name="object_detect" class="td_reg td_rigall col-md-10">
                <div class="col-md-2 checkbox">
                    <label class="container">Hoody
                        <input id="hoody" class="input" name="object_detect[hoody]"  type="checkbox" disabled="disabled">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-2 checkbox">
                    <label class="container">Masked Face
                        <input id="burkha" class="input" name="object_detect[burkha]" type="checkbox" disabled="disabled">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-2 checkbox">
                    <label class="container">Helmet
                        <input id="helmet" class="input" name="object_detect[helmet]" type="checkbox" disabled="disabled"> 
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-2 checkbox">
                    <label class="container">Fire
                        <input id="fire" class="input" name="object_detect[fire]" type="checkbox" disabled="disabled">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-2 checkbox">
                    <label class="container">Intrusion
                        <input id="intrusion" class="input" name="object_detect[instrusion]" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </span>
        </div>
          <div class="col-md-12">
          
            <span class="float-right td_rigall">
                <input id="submitrig" onclick="submitForm()" class="btn_sub" type="submit" value="Update">
            </span>
            <span class="float-right td_rigall">
                <button onclick="window.location.href ='add'" class="btn_close" type="close"><a href="add" class="close_btn">Cancel</a></button>
            </span>
        </div>
    </form>
</div>
