<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/icon" href="/static/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Edit Camera · GoDeep by DeepSight AI Labs</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat: 400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
</head>

<body class="signup-page">
    <nav class="navbar navbar-expand-sm fixed-top bg-white" id="mainNavbar">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" rel="tooltip" title="DeepSight AI Labs" data-placement="bottom" target="_blank">
                    <!-- TODO: Need higher quality logo, which can scale -->
                    <img class="dsal_logo" src="/static/img/dsal.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-primary">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <i class="fa fa-camera"></i>
                            <p>View</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">
                            <i class="fa fa-list"></i>
                            <p>List</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <p>Background</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/background/bank">Bank</a>
                            <a class="dropdown-item" href="/background/hospital">Hospital</a>
                            <a class="dropdown-item" href="/background/insurance">Insurance</a>
                            <a class="dropdown-item" href="/background/pixel">Pixel</a>
                            <a class="dropdown-item" href="/background/retail">Retail</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper" style="background-image: url('/static/img/{{ image }}'); padding-top: 20vh;">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="card card-signup">
                            <div class="card-body">
                                <h4 class="card-title text-center">Edit {{ current_name }}</h4>
                                <form class="form" method="POST" action="/editCamera/{{ current_id }}">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <input value="{{ current_name }}" id="camera_name" name="camera_name" type="text" class="form-control" placeholder="Camera Name" required>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input value="{{ current_floor }}" id="floor" name="floor" type="text" class="form-control" placeholder="Floor" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <input value="{{ current_stream }}" id="rtsp_url" name="rtsp_url" type="text" class="form-control" placeholder="Stream URL" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <input value="{{ current_email }}" id="email_id_list" name="email_id_list" type="text" class="form-control" placeholder="Email ID List">
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <input value="{{ current_sms }}" id="sms_list" name="sms_list" type="text" class="form-control" placeholder="SMS List">
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <input value="{{ current_call }}" id="call_list" name="call_list" type="text" class="form-control" placeholder="Call List">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <input value="{{ current_start_time }}" id="intrusion_start_time" name="intrusion_start_time" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                                                    type="text" class="form-control" placeholder="Intrusion Start Time (24hrs HH:MM)">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input value="{{ current_end_time }}" id="intrusion_end_time" name="intrusion_end_time" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                                                    type="text" class="form-control" placeholder="Intrusion End Time (24hrs HH:MM)">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 bootstrap-select show-tick">
                                                <select class="selectpicker show-tick" name="camera_priority" id="camera_priority" data-style="btn btn-default btn-round"
                                                    title="Camera Priority" required>
                                                    {% if 'high' in current_priority %}
                                                    <option value="high" selected>High</option>
                                                    <option value="low">Low</option>
                                                    {% else %}
                                                    <option value="high">High</option>
                                                    <option value="low" selected>Low</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 bootstrap-select show-tick">
                                                <select class="selectpicker show-tick" name="object_detection" id="object_detection" data-style="btn btn-default btn-round"
                                                    multiple="" title="Object Detection">
                                                    {% if current_object_tamper == 0 %}
                                                    <option value="tamper">Tamper</option>
                                                    {% else %}
                                                    <option value="tamper" selected>Tamper</option>
                                                    {% endif %} {% if current_object_helmet == 0 %}
                                                    <option value="helmet">Helmet</option>
                                                    {% else %}
                                                    <option value="helmet" selected>Helmet</option>
                                                    {% endif %} {% if current_object_fire == 0 %}
                                                    <option value="fire">Fire</option>
                                                    {% else %}
                                                    <option value="fire" selected>Fire</option>
                                                    {% endif %} {% if current_object_intrusion == 0 %}
                                                    <option value="intrusion">Intrusion</option>
                                                    {% else %}
                                                    <option value="intrusion" selected>Intrusion</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    {% if current_sound_alarm == 0 %}
                                                    <input id="sound_alarm" name="sound_alarm" class="form-check-input" type="checkbox"> {% else %}
                                                    <input id="sound_alarm" name="sound_alarm" class="form-check-input" type="checkbox" checked> {% endif %}
                                                    <span class="form-check-sign"></span>
                                                    Sound Alarm
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    {% if current_favourite == 0 %}
                                                    <input id="favourite" name="favourite" class="form-check-input" type="checkbox"> {% else %}
                                                    <input id="favourite" name="favourite" class="form-check-input" type="checkbox" checked> {% endif %}
                                                    <span class="form-check-sign"></span>
                                                    Favourite
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <a href="/list" class="btn btn-default">Close</a>
                                        <button type="submit" class="btn btn-success">Edit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        GoDeep Platform
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>,
                <a href="http://www.deepsightlabs.com" target="_blank">DeepSight AI Labs</a>
            </div>
        </div>
    </footer>
</body>

<!-- Core JS Files -->
<script src="/static/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>

</html>