<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>DeepSight AI Labs</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat: 400,700,200" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
</head>

<body class="profile-page">
    <nav class="navbar navbar-expand-lg bg-white navbar-absolute navbar-transparent">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" rel="tooltip" title="DeepSight AI Labs" data-placement="bottom" target="_blank">
                    <!-- TODO: Dynamic resizing of logo needs to be done -->
                    <img src="/static/img/dsal.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-primary">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <p>Background</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/background/bank">Bank</a>
                            <a class="dropdown-item" href="/background/hospital">Hospital</a>
                            <a class="dropdown-item" href="/background/insurance">Insurance</a>
                            <a class="dropdown-item" href="/background/pixel">Pixel</a>
                            <a class="dropdown-item" href="/background/retail">Retail</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="page-header page-header-mini">
            <div class="page-header-image" style="background-image: url('/static/img/{{ image }}') ;"></div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">GoDeep Platform</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="/add" class="btn btn-primary btn-round btn-lg">
                        <i class="fa fa-plus"></i> Add Camera</a>
                    <a href="/list" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="List View">
                        <i class="fa fa-list"></i>
                    </a>
                    <a href="/" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Home">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                {% if alert_name and alert_message is defined %}
                <div class="alert alert-danger" role="alert">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="fa fa-bell"></i>
                        </div>
                        <strong>{{ alert_message }} Alert!</strong> Please check {{ alert_name }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="fa fa-times"></i>
                            </span>
                        </button>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-7 mr-auto ml-auto">
                    <div class="card card-plain card-form-horizontal">
                        <div class="card-body">
                            <form class="form" method="POST" action="/home/search">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                            </div>
                                            <input id="search_name" name="seach_name" type="text" class="form-control" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-primary btn-round btn-block">Search</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="/home" class="btn btn-default btn-round btn-block">Clear</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if searching is not defined %}
                        <div class="nav-align-center">
                            <ul class="nav nav-pills nav-pills-primary justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#favorite" role="tablist">
                                        Favorite
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#all" role="tablist">
                                        All
                                    </a>
                                </li>
                                {% for floors in unique_floors %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#{{floors}}" role="tablist">
                                        {{floors}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-content gallery">
                            <div class="tab-pane active" id="favorite" role="tabpanel">
                                <div class="row">
                                    {% for favourited_camera_name in favourites %}
                                    <div class="col-md-4">
                                        <div class="card card-profile">
                                            {% for stream_camera_name1, stream_camera_id1 in camera_url.iteritems() %} {% if stream_camera_name1 in favourited_camera_name%}
                                            {% for id1 in stream_camera_id1 %}
                                            <div class="card-image">
                                                <img class="img rounded" src="{{ '/stream/' + id1 | default('/static/img/default_view.jpg') }}">
                                            </div>
                                            {% endfor %} {% endif %} {% endfor %}
                                            <div class="card-body">
                                                <a href="pablo">
                                                    <h4 class="card-title">{{favourited_camera_name}}</h4>
                                                </a>
                                                <div class="card-footer">
                                                    <a class="btn btn-icon btn-neutral btn-lg btn-twitter">
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                    {% for stream_camera_name1, stream_camera_id1 in camera_url.iteritems() %} {% if stream_camera_name1 in favourited_camera_name
                                                    %} {% for id1 in stream_camera_id1 %}
                                                    <a href="/stream/{{ id1 }}" class="btn btn-icon btn-neutral btn-lg btn-dribbble">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                    {% endfor %} {% endif %} {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="all" role="tabpanel">
                                <div class="row">
                                    {% for all_cameras in camera %}
                                    <div class="col-md-4">
                                        <div class="card card-profile">
                                            {% for stream_camera_name2, stream_camera_id2 in camera_url.iteritems() %} {% if stream_camera_name2 in all_cameras %} {%
                                            for id2 in stream_camera_id2 %}
                                            <div class="card-image">
                                                <img class="img rounded" src="{{ '/stream/' + id2 | default('/static/img/default_view.jpg') }}">
                                            </div>
                                            {% endfor %} {% endif %} {% endfor %}
                                            <div class="card-body">
                                                <a href="pablo">
                                                    <h4 class="card-title">{{all_cameras}}</h4>
                                                </a>
                                                <div class="card-footer">
                                                    {% if all_cameras in favourites %}
                                                    <a class="btn btn-icon btn-neutral btn-lg btn-twitter">
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                    {% endif %} {% for stream_camera_name2, stream_camera_id2 in camera_url.iteritems() %} {% if stream_camera_name2 in all_cameras
                                                    %} {% for id2 in stream_camera_id2 %}
                                                    <a href="/stream/{{ id2 }}" class="btn btn-icon btn-neutral btn-lg btn-dribbble">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                    {% endfor %} {% endif %} {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% for floors in unique_floors %}
                            <div class="tab-pane" id="{{floors}}" role="tabpanel">
                                <div class="row">
                                    {% for floor_camera, camera_name in camera_floor.items() %} {% if floor_camera in floors %} {% for names in camera_name %}
                                    <div class="col-md-4">
                                        <div class="card card-profile">
                                            {% for stream_camera_name3, stream_camera_id3 in camera_url.iteritems() %} {% if stream_camera_name3 in names %} {% for id3
                                            in stream_camera_id3 %}
                                            <div class="card-image">
                                                <img class="img rounded" src="{{ '/stream/' + id3 | default('/static/img/default_view.jpg') }}">
                                            </div>
                                            {% endfor %} {% endif %} {% endfor %}
                                            <div class="card-body">
                                                <a href="pablo">
                                                    <h4 class="card-title">{{names}}</h4>
                                                </a>
                                                <div class="card-footer">
                                                    {% if names in favourites %}
                                                    <a class="btn btn-icon btn-neutral btn-lg btn-twitter">
                                                        <i class="fa fa-star"></i>
                                                    </a>
                                                    {% endif %} {% for stream_camera_name3, stream_camera_id3 in camera_url.iteritems() %} {% if stream_camera_name3 in names
                                                    %} {% for id3 in stream_camera_id3 %}
                                                    <a href="/stream/{{ id3 }}" class="btn btn-icon btn-neutral btn-lg btn-dribbble">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                    {% endfor %} {% endif %} {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %} {% endif %} {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="row">
                            {% for searched_names in search_camera_names %}
                            <div class="col-md-4">
                                <div class="card card-profile">
                                    {% for search_camera_name1, search_camera_id1 in search_id_name.iteritems() %} {% if search_camera_name1 in searched_names%}
                                    {% for id1 in search_camera_id1 %}
                                    <div class="card-image">
                                        <img class="img rounded" src="{{ '/stream/' + id1 | default('/static/img/default_view.jpg') }}">
                                    </div>
                                    {% endfor %} {% endif %} {% endfor %}
                                    <div class="card-body">
                                        <a href="pablo">
                                            <h4 class="card-title">{{searched_names}}</h4>
                                        </a>
                                        <div class="card-footer">
                                            {% if searched_names in search_favourites %}
                                            <a class="btn btn-icon btn-neutral btn-lg btn-twitter">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            {% endif %} {% for search_camera_name1, search_camera_id1 in search_id_name.iteritems() %} {% if search_camera_name1 in searched_names%}
                                            {% for id1 in search_camera_id1 %}
                                            <a href="/stream/{{ id1 }}" class="btn btn-icon btn-neutral btn-lg btn-dribbble">
                                                <i class="fa fa-play"></i>
                                            </a>
                                            {% endfor %} {% endif %} {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://deepsightlabs.com">
                                DeepSight AI Labs
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>,
                    <a href="http://www.deepsightlabs.com" target="_blank">DeepSight AI Labs</a>.
                </div>
            </div>
        </footer>
    </div>
</body>

<!-- Core JS Files -->
<script src="/static/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>

</html>