<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Home · GoDeep by DeepSight AI Labs</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat: 400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />

    <!-- Javascript -->
    <script src="/static/js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // Alerts
        var alerts = [];
        var interval = 2000; // Polling interval
        var alertShowTime = 10000; // Alert show interval
        var audio = new Audio('/getAlarmAudio');
        var inFullScreen = false;

        // HTTP Player
        var playStatus = {};

        function onLoad() {
            startTimer();
        }

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function playerOnLoad(key, tab) {
            console.log("On Load " + tab + " " + key + " " + playStatus[key]);
            if (playStatus[key]) {
                $('#playBtn' + tab + key).hide();
                $('#pauseBtn' + tab + key).show();
                $('#fullScreenBtn' + tab + key).show();
            }
            else {
                $('#playBtn' + tab + key).show();
                $('#pauseBtn' + tab + key).hide();
                $('#fullScreenBtn' + tab + key).hide();
            }

            $('.cardSubtitle' + key).hide();
        }

        async function playButton(key, tab) {
            console.log("Play " + tab + " " + key + " " + playStatus[key]);
            console.log('Stream: ' + $('#stream' + tab + key).text())

            $('#playBtn' + tab + key).hide();
            $('#pauseBtn' + tab + key).fadeIn(300);
            $('#fullScreenBtn' + tab + key).fadeIn(300);
            $('#cameraView' + tab + key).fadeOut(500, function () {
                $('#cameraView' + tab + key).attr('src', '/static/img/loading.gif');
                $('#cameraView' + tab + key).attr('src', '/static/img/loading.gif');
            }.bind(this)).fadeIn(500);
            $('#cameraView' + tab + key).fadeOut(500, function () {
                $('#cameraView' + tab + key).attr('src', $('#stream' + tab + key).text());
            }.bind(this)).fadeIn(500);

            playStatus[key] = true;
        }

        function pauseButton(key, tab) {
            console.log("Pause " + tab + " " + key + " " + playStatus[key]);
            $('#playBtn' + tab + key).fadeIn(300);
            $('#pauseBtn' + tab + key).hide();
            $('#fullScreenBtn' + tab + key).hide();
            $('#cameraView' + tab + key).fadeOut(500, function () {
                $('#cameraView' + tab + key).attr('src', '/static/img/default_view.jpg');
            }.bind(this)).fadeIn(500);

            playStatus[key] = false;
        }

        function showFullScreen(key, tab) {
            console.log("Enter Full Screen");
            $('#fullScreenImage').attr('src', $('#stream' + tab + key).text());
            $('#mainNavbar').fadeOut();
            $('#myModal').fadeIn();
            inFullScreen = true;
        }

        function exitFullScreen() {
            console.log("Exit Full Screen");
            $('#myModal').fadeOut();
            $('#mainNavbar').fadeIn();
            inFullScreen = false;
        }

        window.onclick = function (event) {
            var modal = document.getElementById('myModal');
            if (event.target == modal) {
                exitFullScreen();
            }
        }

        $(document).keyup(function (event) {
            if ((event.keyCode == 27) && inFullScreen) {
                exitFullScreen();
            }
        });

        function playAlarm() {
            audio.addEventListener('ended', function () {
                this.currentTime = 0;
                this.play();
            }, false);
            audio.play();
        }

        function pauseAlarm() {
            audio.pause();
        }

        function startTimer() {
            setInterval(alertFunc, interval);
        }

        function alertFunc() {
            var sound_dict = {{ sound_dict| safe
        }};

        for (var key in alerts) {
            alerts[key] = alerts[key] + interval;
            if (alerts[key] >= alertShowTime) {
                // Remove
                if ($(".cardBody" + key) != undefined) {
                    $('.cardSubtitle' + key).hide();
                    $('.cardSubtitle' + key).html('No Alerts')
                    $('.cardBody' + key).removeClass('bg-danger');
                    $('.cardTitle' + key).css('color', 'initial');

                    pauseAlarm();
                    delete alerts[key];
                }
            }
            else if (sound_dict[key] == 1) {
                playAlarm();
            }
        }

        $.ajax(
            {
                url: '/getAlerts',
                type: 'POST',
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    $.each(response, function (key, val) {
                        if ($(".cardBody" + key) != undefined) {
                            alerts[key] = 0;
                            if (sound_dict[key] == 1) {
                                playAlarm();
                            }

                            $('.cardBody' + key).addClass('bg-danger');
                            $('.cardSubtitle' + key).html('<strong>' + [val.slice(0, -1).join(', '), val.slice(-1)[0]].join(val.length < 2 ? '' : ' and ') + ' Detected!</strong>');
                            $('.cardSubtitle' + key).fadeIn(500);
                            $('.cardSubtitle' + key).css('color', 'white');
                            $('.cardTitle' + key).css('color', 'white');
                        }
                    });
                },
                error: function () {
                    // window.location = "/";
                    console.log('Error');
                }
            });
        }

    </script>

</head>

<body class="profile-page" onload="onLoad()">
    <nav class="navbar navbar-expand-sm fixed-top bg-white" id="mainNavbar">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" rel="tooltip" title="DeepSight AI Labs" data-placement="bottom" target="_blank">
                    <!-- TODO: Need higher quality logo, which can scale -->
                    <img class="dsal_logo" src="/static/img/dsal.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-primary">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">
                            <i class="fa fa-list"></i>
                            <p>List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add">
                            <i class="fa fa-plus"></i>
                            <p>Add Camera</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <p>Background</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/background/bank">Bank</a>
                            <a class="dropdown-item" href="/background/hospital">Hospital</a>
                            <a class="dropdown-item" href="/background/insurance">Insurance</a>
                            <a class="dropdown-item" href="/background/pixel">Pixel</a>
                            <a class="dropdown-item" href="/background/retail">Retail</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <form class="form form-newsletter" method="POST" action="/home/search">
            <div class="form-group">
                <input value="{{searched_name}}" id="search_name" name="seach_name" type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary btn-icon btn-round">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </nav>

    <div id="myModal" class="modal">
        <img id='fullScreenImage' class='modal_content' src=''>
    </div>

    <div class="wrapper" style="background-image: url('/static/img/{{ image }}'); padding-top: 15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if searching is not defined %}
                    <div class="nav-align-center">
                        <ul class="nav nav-pills nav-pills-primary justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#favorite" role="tablist">
                                    Favourites
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#all" role="tablist">
                                    All
                                </a>
                            </li>
                            {% for floors, floor_stripped in unique_floors %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#{{ floor_stripped }}" role="tablist">
                                    {{ floors }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content gallery" style="margin-top: 2vh;">
                        <div class="tab-pane" id="favorite" role="tabpanel">
                            <div class="row">
                                {% for favourited_camera_name in favourites %}
                                <div class="col-md-4">
                                    <div class="card card-profile">
                                        {% for stream_camera_name1, stream_camera_id1 in camera_url.iteritems() %} {% if stream_camera_name1 in favourited_camera_name
                                        %} {% for id1 in stream_camera_id1 %}
                                        <div class="card-image">
                                            <img id="cameraViewFav{{ id1 }}" class="img rounded loading" src="/static/img/default_view.jpg">
                                        </div>
                                        <div class="card-body cardBody{{ id1 }}">
                                            <h4 class="card-title cardTitle{{ id1 }}">{{ favourited_camera_name }}</h4>
                                            <h5 class="cardSubtitle{{ id1 }}">No Alerts</h5>

                                            <div class="card-footer">
                                                <a href="/favourite/{{ id1 }}" class="btn btn-icon btn-neutral btn-twitter">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                <p hidden id="streamFav{{ id1 }}">/stream/{{ id1 }}</p>

                                                <div id="playerControls{{ id1 }}" class="playerControls">
                                                    <a id='playBtnFav{{ id1 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="playButton({{ id1 }}, 'Fav')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtnFav{{ id1 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="pauseButton({{ id1 }}, 'Fav')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtnFav{{ id1 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="showFullScreen({{ id1 }}, 'Fav')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id1 }}, 'Fav')">
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %} {% endif %} {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane active" id="all" role="tabpanel">
                            <div class="row">
                                {% for all_cameras in camera %}
                                <div class="col-md-4">
                                    <div class="card card-profile">
                                        {% for stream_camera_name2, stream_camera_id2 in camera_url.iteritems() %} {% if stream_camera_name2 in all_cameras %} {%
                                        for id2 in stream_camera_id2 %}
                                        <div class="card-image">
                                            <img id="cameraViewAll{{ id2 }}" class="img rounded loading" src="/static/img/default_view.jpg">
                                        </div>
                                        <div class="card-body cardBody{{ id2 }}">
                                            <h4 class="card-title cardTitle{{ id2 }}">{{ all_cameras }}</h4>
                                            <h5 class="cardSubtitle{{ id2 }}">No Alerts</h5>

                                            <div class="card-footer">
                                                {% if all_cameras in favourites %}
                                                <a href="/favourite/{{ id2 }}" class="btn btn-icon btn-neutral btn-twitter">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                {% else %}
                                                <a href="/favourite/{{ id2 }}" class="btn btn-icon btn-neutral btn-unfavourite">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                {% endif %}
                                                <p hidden id="streamAll{{ id2 }}">/stream/{{ id2 }}</p>

                                                <div id="playerControls{{ id2 }}" class="playerControls">
                                                    <a id='playBtnAll{{ id2 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="playButton({{ id2 }}, 'All')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtnAll{{ id2 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="pauseButton({{ id2 }}, 'All')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtnAll{{ id2 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="showFullScreen({{ id2 }}, 'All')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id2 }}, 'All')">
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %} {% endif %} {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for floors, floor_stripped in unique_floors %}
                        <div class="tab-pane" id="{{ floor_stripped }}" role="tabpanel">
                            <div class="row">
                                {% for floor_camera, camera_name in camera_floor.items() %} {% if floor_camera|string() == floors|string() %} {% for names
                                in camera_name %}
                                <div class="col-md-4">
                                    <div class="card card-profile">
                                        {% for stream_camera_name3, stream_camera_id3 in camera_url.iteritems() %} {% if stream_camera_name3 in names %} {% for id3
                                        in stream_camera_id3 %}
                                        <div class="card-image">
                                            <img id="cameraView{{ floor_stripped }}{{ id3 }}" class="img rounded loading" src="/static/img/default_view.jpg">
                                        </div>
                                        <div class="card-body cardBody{{ id3 }}">
                                            <h4 class="card-title cardTitle{{ id3 }}">{{ names }}</h4>
                                            <h5 class="cardSubtitle{{ id3 }}">No Alerts</h5>

                                            <div class="card-footer">
                                                {% if names in favourites %}
                                                <a class="btn btn-icon btn-neutral btn-twitter">
                                                    <i href="/favourite/{{ id3 }}" class="fa fa-star"></i>
                                                </a>
                                                {% else %}
                                                <a href="/favourite/{{ id3 }}" class="btn btn-icon btn-neutral btn-unfavourite">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                {% endif %}
                                                <p hidden id="stream{{ floor_stripped }}{{ id3 }}">/stream/{{ id3 }}</p>

                                                <div id="playerControls{{ floor_stripped }}{{ id3 }}" class="playerControls">
                                                    <a id='playBtn{{ floor_stripped }}{{ id3 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="playButton({{ id3 }}, '{{ floor_stripped }}')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtn{{ floor_stripped }}{{ id3 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="pauseButton({{ id3 }}, '{{ floor_stripped }}')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtn{{ floor_stripped }}{{ id3 }}' class="btn btn-icon btn-neutral">
                                                        <i onclick="showFullScreen({{ id3 }}, '{{ floor_stripped }}')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id3 }}, '{{ floor_stripped }}')">
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %} {% endif %} {% endfor %}
                                    </div>
                                </div>
                                {% endfor %} {% endif %} {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="ml-auto mr-auto col-md-4">
                        <a href="/home" class="btn btn-default btn-round btn-block">Clear Search</a>
                    </div>
                    <div class="row">
                        {% for searched_names in search_camera_names %}
                        <div class="col-md-4">
                            <div class="card card-profile">
                                {% for search_camera_name1, search_camera_id1 in search_id_name.iteritems() %} {% if search_camera_name1 in searched_names%}
                                {% for id1 in search_camera_id1 %}
                                <div class="card-image">
                                    <img id="cameraViewSearch{{ id1 }}" class="img rounded loading" src="/static/img/default_view.jpg">
                                </div>
                                <div class="card-body cardBody{{ id1 }}">
                                    <h4 class="card-title cardTitle{{ id1 }}">{{ searched_names }}</h4>
                                    <h5 class="cardSubtitle{{ id1 }}">No Alerts</h5>

                                    <div class="card-footer">
                                        {% if searched_names in search_favourites %}
                                        <a class="btn btn-icon btn-neutral btn-twitter">
                                            <i class="fa fa-star"></i>
                                        </a>
                                        {% else %}
                                        <a href="/favourite/{{ id1 }}" class="btn btn-icon btn-neutral btn-unfavourite">
                                            <i class="fa fa-star"></i>
                                        </a>
                                        {% endif %}
                                        <p hidden id="streamSearch{{ id1 }}">/stream/{{ id1 }}</p>

                                        <div id="playerControls{{ id1 }}" class="playerControls">
                                            <a id='playBtnSearch{{ id1 }}' class="btn btn-icon btn-neutral">
                                                <i onclick="playButton({{ id1 }}, 'Search')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                            </a>
                                            <a id='pauseBtnSearch{{ id1 }}' class="btn btn-icon btn-neutral">
                                                <i onclick="pauseButton({{ id1 }}, 'Search')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                            </a>
                                            <a id='fullScreenBtnSearch{{ id1 }}' class="btn btn-icon btn-neutral">
                                                <i onclick="showFullScreen({{ id1 }}, 'Search')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                            </a>

                                            <!-- Dummy image for onload event trigger -->
                                            <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id1 }}, 'Search')">
                                        </div>
                                    </div>
                                </div>
                                {% endfor %} {% endif %} {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        GoDeep Platform
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>,
                <a href="http://www.deepsightlabs.com" target="_blank">DeepSight AI Labs</a>
            </div>
        </div>
    </footer>
</body>

<!-- Core JS Files -->
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>

</html>