<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"/>
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>View · GoDeep by DeepSight AI Labs</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="/static/fontawesome/css/all.css" rel="stylesheet"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'/>
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/vxg/vxgplayer.css" rel="stylesheet"/> 
    <!-- Javascript -->
    <script type="text/javascript" src="/static/vxg/vxgplayer.js"></script>
    <script src="/static/js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // Alerts
        var alerts = [];
        var interval = 1000; // Polling interval
        var alertShowTime = 10000; // Alert show interval
        var audio = new Audio('/getAlarmAudio');
        var inFullScreen = false;

        // HTTP Player
        var playStatus = {};

        function onLoad() 
        {
            startTimer();
        }

        function sleep(ms) 
        {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        function playerOnLoad(key, tab) 
        {
            console.log("On Load " + tab + " " + key + " " + playStatus[key]);
            if (playStatus[key]) 
            {
                $('#playBtn' + tab + key).hide();
                $('#pauseBtn' + tab + key).show();
                $('#fullScreenBtn' + tab + key).show();
            }
            else 
            {
                $('#playBtn' + tab + key).show();
                $('#pauseBtn' + tab + key).hide();
                $('#fullScreenBtn' + tab + key).hide();
            }

            $('.cardSubtitle' + key).hide();
        }

        function playButton(key, tab) 
        {
            console.log("Play " + tab + " " + key + " " + playStatus[key]);
            console.log('Stream: ' + $('#stream' + tab + key).text())

            $('#playBtn' + tab + key).hide();
            $('#pauseBtn' + tab + key).fadeIn(300);
            $('#fullScreenBtn' + tab + key).fadeIn(300);
            $('#cameraView' + tab + key).fadeOut(500, function () 
            {
                $('#cameraView' + tab + key).attr('src', '/static/img/loading.gif');
                $('#cameraView' + tab + key).attr('src', '/static/img/loading.gif');
            }.bind(this)).fadeIn(500);
            $('#cameraView' + tab + key).fadeOut(500, function () 
            {
                $('#cameraView' + tab + key).attr('src', $('#stream' + tab + key).text());
            }.bind(this)).fadeIn(500);

            playStatus[key] = true;
        }

        function pauseButton(key, tab) 
        {
            console.log("Pause " + tab + " " + key + " " + playStatus[key]);
            $('#playBtn' + tab + key).fadeIn(300);
            $('#pauseBtn' + tab + key).hide();
            $('#fullScreenBtn' + tab + key).hide();
            $('#cameraView' + tab + key).fadeOut(500, function () 
            {
                $('#cameraView' + tab + key).attr('src', '/static/img/default_view.jpg');
            }.bind(this)).fadeIn(500);

            playStatus[key] = false;
        }

        function showFullScreen(key, tab) 
        {
            console.log("Enter Full Screen");
            $('#fullScreenImage').attr('src', '/static/img/loading.gif');
            $('#fullScreenImage').attr('src', $('#stream' + tab + key).text());
            $('#mainNavbar').fadeOut();
            $('#mainHeader').fadeOut();
            $('#myModal').fadeIn();
            inFullScreen = true;
        }

        function exitFullScreen() 
        {
            console.log("Exit Full Screen");
            $('#myModal').fadeOut();
            $('#mainNavbar').fadeIn();
            $('#mainHeader').fadeIn();
            inFullScreen = false;
        }

        window.onclick = function (event) 
        {
            var modal = document.getElementById('myModal');
            if (event.target == modal) 
            {
                exitFullScreen();
            }
        }

        $(document).keyup(function (event) 
        {
            if ((event.keyCode == 27) && inFullScreen) 
            {
                exitFullScreen();
            }
        });

        function playAlarm() 
        {
            audio.addEventListener('ended', function () 
            {
                this.currentTime = 0;
                this.play();
            }, false);
            audio.play();
        }

        function pauseAlarm() 
        {
            audio.pause();
        }

        function startTimer() 
        {
            setInterval(alertFunc, interval);
        }

        function alertFunc() 
        {
            var sound_dict = {{ sound_dict|safe }};

            for (var key in alerts) 
            {
                alerts[key] = alerts[key] + interval;
                if (alerts[key] >= alertShowTime) 
                {
                    // Remove
                    if ($(".cardBody" + key) != undefined) 
                    {
                        $('.cardSubtitle' + key).hide();
                        $('.cardSubtitle' + key).html('');
                        $('.cardBody' + key).removeClass('bg-danger');
                        $('.cardTitle' + key).css('color', 'initial');

                        pauseAlarm();
                        delete alerts[key];
                    }
                }
                else if (sound_dict[key] == 1)
                {
                    playAlarm();
                }
            }

            $.ajax(
            {
                url: '/getAlerts',
                type: 'POST',
                dataType: "json",
                success: function (response) 
                {
                    console.log(response);
                    $.each(response, function (key, val) 
                    {
                        if ($(".cardBody" + key) != undefined) 
                        {
                            alerts[key] = 0;
                            if (sound_dict[key] == 1) 
                            {
                                playAlarm();
                            }

                            $('.cardBody' + key).addClass('bg-danger');
                            $('.cardSubtitle' + key).html('<strong>' + [val.slice(0, -1).join(', '), val.slice(-1)[0]].join(val.length < 2 ? '' : ' and ') + ' Detected!</strong>');
                            $('.cardSubtitle' + key).fadeIn(500);
                            $('.cardSubtitle' + key).css('color', 'white');
                            $('.cardTitle' + key).css('color', 'white');
                        }
                    });
                },
                error: function () 
                {
                    window.location = "/";
                    console.log('Error');
                }
            });
        }

    </script>
</head>

<body class="profile-page" onload="onLoad()">
    <nav id="mainNavbar" class="navbar navbar-expand-sm navbar-absolute fixed-top bg-white">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" rel="tooltip" title="DeepSight AI Labs" data-placement="bottom" target="_blank">
                    <img class="dsal_logo" src="/static/img/dsal.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="/static/img/blur1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/list">
                            <i class="fa fa-list"></i>
                            <p>List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add">
                            <i class="fa fa-plus"></i>
                            <p>Add Camera</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <p>Background</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/background/bank/view">Bank</a>
                            <a class="dropdown-item" href="/background/hospital/view">Hospital</a>
                            <a class="dropdown-item" href="/background/insurance/view">Insurance</a>
                            <a class="dropdown-item" href="/background/pixel/view">Pixel</a>
                            <a class="dropdown-item" href="/background/retail/view">Retail</a>
                        </div>
                    </li>
                </ul>
                <form class="form form-newsletter" method="POST" action="/view/search">
                    <div class="form-group">
                        <input value="{{ searched_name }}" id="search_name" name="seach_name" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary btn-icon btn-round">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div id="myModal" class="modal">
        <img id='fullScreenImage' class='modal_content' src=''>
    </div>

    <div id="mainHeader" class="wrapper" style="padding-top: 2vh;">
        <div class="page-header page-header-mini">
            <div class="page-header-image" style="background-image: url('/static/img/{{ image }}');"></div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">GoDeep Platform</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if not search_mode %}
                    <div class="nav-align-center">
                        <ul class="nav nav-pills nav-pills-primary justify-content-center" role="tablist">
                            <li class="nav-item" style="padding-top: 1vh">
                                <a class="nav-link" data-toggle="tab" href="#favorite" role="tablist">
                                    Favourites
                                </a>
                            </li>
                            <li class="nav-item" style="padding-top: 1vh">
                                <a class="nav-link active" data-toggle="tab" href="#all" role="tablist">
                                    All
                                </a>
                            </li>
                            {% for unique_floor, floor_stripped in unique_floors %}
                            <li class="nav-item" style="padding-top: 1vh">
                                <a class="nav-link" data-toggle="tab" href="#{{ floor_stripped }}" role="tablist">
                                    {{ unique_floor }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content gallery">
                        <div class="tab-pane" id="favorite" role="tabpanel">
                            <div class="row">
                                {% for id, name, rtsp_url, priority, floor, start_time, end_time, sound_alarm,
                                    favourite, email_string, sms_string, call_string, objects_list in data %}
                                {% if favourite == 1 %}
                                <div class="col-md-3">
                                    <div class="card card-profile">
                                        <div class="card-image">
                                            <img id="cameraViewFav{{ id }}" class="img rounded loading" src="/static/img/default_view.jpg">
                                        </div>
                                        <div class="card-body cardBody{{ id }}" style="padding: 0.4rem;">
                                            <h5 style="margin-bottom: 4px; margin-top: 2px;" class="card-title cardTitle{{ id }}">{{ name }}</h5>
                                            <h6 class="cardSubtitle{{ id }}"></h6>

                                            <div class="card-footer" style="margin-top: 0px;">
                                                <a href="/favourite/{{ id }}" class="btn btn-icon btn-neutral btn-openid" style="margin: 0px; background-color: #FFFFFF;">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                <p hidden id="streamFav{{ id }}">/stream/{{ id }}</p>

                                                <div id="playerControls{{ id }}" class="playerControls">
                                                    <a id='playBtnFav{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="playButton({{ id }}, 'Fav')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtnFav{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="pauseButton({{ id }}, 'Fav')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtnFav{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="showFullScreen({{ id }}, 'Fav')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id }}, 'Fav')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane active" id="all" role="tabpanel">
                            <div class="row">
                                {% for id, name, rtsp_url, priority, floor, start_time, end_time, sound_alarm,
                                    favourite, email_string, sms_string, call_string, objects_list in data %}
                                <div class="col-md-3">
                                    <div class="card card-profile">
                                        <div class="card-image">
                                            <!-- <img id="cameraViewAll{{ id }}" class="img rounded loading" src="/static/img/default_view.jpg"> -->
                                            <div class="vxgplayer img rounded loading"
                                                id="vxgAll{{ id }}" 
                                                width="255"
                                                height="143"
                                                url="{{ rtsp_url }}"
                                                nmf-src="/static/vxg/pnacl/Release/media_player.nmf"
                                                nmf-path="media_player.nmf"
                                                useragent-prefix="MMP/3.0"
                                                latency="10000"
                                                autohide="1"
                                                volume="0"
                                                controls
                                                mute
                                                aspect-ratio
                                                aspect-ratio-mode="1"
                                                auto-reconnect>  
                                            </div>
                                        </div>
                                        <div class="card-body cardBody{{ id }}" style="padding: 0.4rem;">
                                            <h5 style="margin-bottom: 4px; margin-top: 2px;" class="card-title cardTitle{{ id }}">{{ name }}</h5>
                                            <h6 class="cardSubtitle{{ id }}"></h6>

                                            <div class="card-footer" style="margin-top: 0px;">
                                                <a href="/favourite/{{ id }}" class="btn btn-icon btn-neutral {{ 'btn-openid' if favourite == 1 else 'btn-unfavourite' }}" style="margin: 0px; background-color: #FFFFFF;">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                
                                                <p hidden id="streamAll{{ id }}">/stream/{{ id }}</p>

                                                <div id="playerControls{{ id }}" class="playerControls">
                                                    <a id='playBtnAll{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="playButton({{ id }}, 'All')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtnAll{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="pauseButton({{ id }}, 'All')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtnAll{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="showFullScreen({{ id }}, 'All')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id }}, 'All')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for unique_floor, floor_stripped in unique_floors %}
                        <div class="tab-pane" id="{{ floor_stripped }}" role="tabpanel">
                            <div class="row">
                                {% for id, name, rtsp_url, priority, floor, start_time, end_time, sound_alarm,
                                    favourite, email_string, sms_string, call_string, objects_list in data %}
                                {% if unique_floor|string() == floor|string() %}
                                <div class="col-md-3">
                                    <div class="card card-profile">
                                        <div class="card-image">
                                            <img id="cameraView{{ floor_stripped }}{{ id }}" class="img rounded loading" src="/static/img/default_view.jpg">
                                        </div>
                                        <div class="card-body cardBody{{ id }}" style="padding: 0.4rem;">
                                            <h5 style="margin-bottom: 4px; margin-top: 2px;" class="card-title cardTitle{{ id }}">{{ name }}</h5>
                                            <h6 class="cardSubtitle{{ id }}"></h6>

                                            <div class="card-footer" style="margin-top: 0px;">
                                                <a href="/favourite/{{ id }}" class="btn btn-icon btn-neutral {{ 'btn-openid' if favourite == 1 else 'btn-unfavourite' }}" style="margin: 0px; background-color: #FFFFFF;">
                                                    <i class="fa fa-star"></i>
                                                </a>

                                                <p hidden id="stream{{ floor_stripped }}{{ id }}">/stream/{{ id }}</p>

                                                <div id="playerControls{{ floor_stripped }}{{ id }}" class="playerControls">
                                                    <a id='playBtn{{ floor_stripped }}{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="playButton({{ id }}, '{{ floor_stripped }}')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtn{{ floor_stripped }}{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="pauseButton({{ id }}, '{{ floor_stripped }}')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtn{{ floor_stripped }}{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="showFullScreen({{ id }}, '{{ floor_stripped }}')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id }}, '{{ floor_stripped }}')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {% else %}
                    <div class="ml-auto mr-auto col-md-3" style="padding-top: 2vh;">
                        <a href="/view" class="btn btn-default btn-round btn-block">Clear Search</a>
                    </div>

                    <div class="row">
                        {% for id, name, rtsp_url, priority, floor, start_time, end_time, sound_alarm,
                            favourite, email_string, sms_string, call_string, objects_list in data %}
                        <div class="col-md-3">
                            <div class="card card-profile">
                                <div class="card-image">
                                    <img id="cameraViewSearch{{ id }}" class="img rounded loading" src="/static/img/default_view.jpg">
                                </div>
                                <div class="card-body cardBody{{ id }}" style="padding: 0.4rem;">
                                    <h5 style="margin-bottom: 4px; margin-top: 2px;" class="card-title cardTitle{{ id }}">{{ name }}</h5>
                                    <h6 class="cardSubtitle{{ id }}"></h6>

                                    <div class="card-footer" style="margin-top: 0px;">
                                        <a href="/favourite/{{ id }}" class="btn btn-icon btn-neutral {{ 'btn-openid' if favourite == 1 else 'btn-unfavourite' }}" style="margin: 0px; background-color: #FFFFFF;">
                                            <i class="fa fa-star"></i>
                                        </a>

                                        <p hidden id="streamSearch{{ id }}">/stream/{{ id }}</p>

                                        <div id="playerControls{{ id }}" class="playerControls">
                                            <a id='playBtnSearch{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                <i onclick="playButton({{ id }}, 'Search')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                            </a>
                                            <a id='pauseBtnSearch{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                <i onclick="pauseButton({{ id }}, 'Search')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                            </a>
                                            <a id='fullScreenBtnSearch{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                <i onclick="showFullScreen({{ id }}, 'Search')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                            </a>

                                            <!-- Dummy image for onload event trigger -->
                                            <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id }}, 'Search')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <strong>GoDeep</strong> Platform
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>,
                <a href="http://www.deepsightlabs.com" target="_blank">DeepSight AI Labs</a>
            </div>
        </div>
    </footer>
</body>

<!-- Core JS Files -->
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>

</html>
