<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png"/>
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>View · GoDeep by DeepSight AI Labs</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="/static/fontawesome/css/all.css" rel="stylesheet"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'/>
    <!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/main.css" rel="stylesheet"/>
    <link href="/static/vxg/vxgplayer-1.8.40.css" rel="stylesheet"/> 
    <!-- Javascript -->
    <script src="/static/js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/vxg/vxgplayer-1.8.40.js"></script>
    <script type="text/javascript">
        // Alerts
        var alerts = [];
        var interval = 1000; // Polling interval
        var alertShowTime = 10000; // Alert show interval
        var audio = new Audio('/getAlarmAudio');
        var getAlertsAJAX = null;
        var alertsIntervalHandler = null;

        detected_objects = [];

        // Fullscreen
        var lastKey = null;
        var lastTab = null;

        // HTTP Player
        var playStatus = {};
        var playerIconOnClick = false;

        /******************* General Functions *******************/

        function onLoad() 
        {
            // startTimer moved to end of script tag here since onLoad takes time
            // startTimer();
        }

        window.onbeforeunload = function (e) 
        {
            console.log("Before Unload Event");

            // onbeforeunload gets trigged on play button, ignore that case
            if (playerIconOnClick)
            {
                console.log("Ignore Event:", playerIconOnClick);
            }
            else
            {
                // Stop alerts polling
                stopTimer();
                getAlertsAJAX.abort();

                // Remove all VXG players
                for (var key in playStatus)
                {
                    for (var tab in playStatus[key])
                    {   
                        if (playStatus[key][tab])
                        {
                            pauseButton(key, tab, true);
                        }
                    }
                }
            }
        };

        function resetPlayerIconOnClick()
        {
            playerIconOnClick = false;
            console.log("Reset playerIconOnClick:", playerIconOnClick);
        }

        $(function () 
        {
            $(window).click(function (e) 
            {
                playerIconOnClick = false;
                if ($(e.target).hasClass('playerIcon'))
                {
                    console.log(".playerIcon clicked");
                    playerIconOnClick = true;
                    // Wait for onbeforeunload to complete then reset playerIconOnClick
                    setTimeout(resetPlayerIconOnClick, 500);
                }
                console.log("playerIconOnClick:", playerIconOnClick);
            });
        });

        function sleep(ms) 
        {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        /******************* Player Functions *******************/

        function playerOnLoad(key, tab) 
        {
            if (key in playStatus && playStatus[key][tab]) 
            {
                $('#playBtn' + tab + key).hide();
                $('#pauseBtn' + tab + key).show();
                $('#fullScreenBtn' + tab + key).show();
                playStatus[key][tab] = true;
            }
            else 
            {
                $('#playBtn' + tab + key).show();
                $('#pauseBtn' + tab + key).hide();
                $('#fullScreenBtn' + tab + key).hide();

                if (!(key in playStatus))
                {
                    playStatus[key] = {};
                }
                playStatus[key][tab] = false;
            }
            console.log("playerOnLoad:", tab, key, playStatus[key][tab]);
        }

        function playButton(key, tab, modStatus=true) 
        {
            console.log('Stream:', $('#stream' + tab + key).text());

            // Update player controls
            $('#playBtn' + tab + key).hide();
            $('#pauseBtn' + tab + key).fadeIn(300);
            $('#fullScreenBtn' + tab + key).fadeIn(300);
            $('#defaultImage' + tab + key).hide();

            // Get player properties
            var playerId = 'vxg' + tab + key;
            var rtsp_url = $('#stream' + tab + key).text();
            var playerWidth = parseInt($('#defaultImage' + tab + key).width());
            var playerHeight = parseInt($('#defaultImage' + tab + key).height());

            // Create VXG player div element and append to DOM
            var div = document.createElement('div');
            div.setAttribute("id", playerId);
            div.setAttribute("class", "vxgplayer img rounded");
            var cardDiv = document.getElementById('card-image-div-' + tab + '-' + key);
            cardDiv.appendChild(div);

            // Correct padding offsets
            var _padding = $('#card-image-div-' + tab + '-' + key).parent().closest('div').find('.card-body').css('padding');
            $('#card-image-div-' + tab + '-' + key).parent().closest('div').find('.card-body').css('margin-top', '-' + _padding);

            // Init VXG media player
            vxgplayer(playerId,
            {
                url: rtsp_url,
                nmf_path: 'media_player.nmf',
                nmf_src: '/static/vxg/pnacl/Release/media_player.nmf',
                width: playerWidth,
                height: playerHeight,
                latency: 10000,
                aspect_ratio_mode: 1,
                avsync: false,
                controls: false,
                autoreconnect: true,
                connection_timeout: 5000,
                connection_udp: 0,
                custom_digital_zoom: true
            }).ready(function()
            {   
                // Trigger VXG play
                vxgplayer(playerId).play();
            });

            // Update play status
            if (modStatus) { playStatus[key][tab] = true; }
            console.log("Play >>> playStatus:", tab, key, playStatus[key][tab]);
        }

        function pauseButton(key, tab, modStatus=true) 
        {
            // Stop playing and delete player instance
            var player = vxgplayer('vxg' + tab + key);
            player.stop();
            player.dispose();

            // Delete VXG player div element
            $('#vxg' + tab + key).remove();

            // Correct padding offsets
            $('#card-image-div-' + tab + '-' + key).parent().closest('div').find('.card-body').css('margin-top', '0px');

            // Update player controls
            $('#playBtn' + tab + key).fadeIn(300);
            $('#pauseBtn' + tab + key).hide();
            $('#fullScreenBtn' + tab + key).hide();
            $('#defaultImage' + tab + key).fadeIn(500);

            // Update play status
            if (modStatus) { playStatus[key][tab] = false; }
            console.log("Pause >>> playStatus:", tab, key, playStatus[key][tab]);
        }

        $(document).on('show.bs.tab', 'a[data-toggle="tab"]', function (e)
        {
            /* Function called before tab changed */
            var tab = $(e.target).attr("href").substring(1);
            var prevtab = $(e.relatedTarget).attr("href").substring(1);
            console.log(prevtab, '>>>', tab);

            // Stop all players in the last tab, also change play status
            for (var key in playStatus)
            {
                for (var _tab in playStatus[key])
                {   
                    if (prevtab == _tab && playStatus[key][prevtab])
                    {
                        pauseButton(key, prevtab, true);
                    }
                }
            }
        });

        $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e)
        {
            /* Function called after tab changed */
            var tab = $(e.target).attr("href").substring(1);
            var prevtab = $(e.relatedTarget).attr("href").substring(1);
            console.log(prevtab, '>>>', tab);

            /* Removing this feature now
            // Start all previously stopped players in new tab
            for (var key in playStatus)
            {
                for (var _tab in playStatus[key])
                {
                    if (tab == _tab && playStatus[key][tab])
                    {
                        playButton(key, tab, false);
                    }
                }
            }*/
        });

        window.onresize = function() 
        {
            console.log("Window Resize Event");

            // Resize all VXG players
            for (var key in playStatus)
            {
                for (var tab in playStatus[key])
                {
                    if (playStatus[key][tab])
                    {
                        console.log('Resize Player:', tab, key);
                        try
                        {
                            // Create player object
                            var player = vxgplayer('vxg' + tab + key);
                            
                            // Enable the default image temporarily just to get size
                            $('#defaultImage' + tab + key).show();

                            // Update player size
                            var playerWidth = parseInt($('#defaultImage' + tab + key).width());
                            var playerHeight = parseInt($('#defaultImage' + tab + key).height());
                            player.size(playerWidth, playerHeight);
                            console.log(player.size());

                            // Disable the default image
                            $('#defaultImage' + tab + key).hide();
                        }
                        catch (err)
                        {
                            // console.log(err);
                        }
                    }
                }
            }
        }

        function toggleFullScreen(key, tab) 
        {
            console.log("toggleFullScreen:", key, tab);
            var player = vxgplayer('vxg' + tab + key);
            player.fullscreen();
            lastKey = key;
            lastTab = tab;
        }

        /* FEATURE NOT STABLE
         *
         * This feature enables the native VXG player controls in fullscreen mode and
         * VXG features like digital zoom and snapshot and then disables these features
         * when full screen is exited. 
         * 
         * TODO: The playStatus must be updated when native VXG player controls are used
         * TODO: VXG controls not getting disabled on fullscreen exit
         *
        $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange MSFullscreenChange', function(e)
        {
            console.log("Event Full Screen Change: " + lastTab + lastKey);
            var player = vxgplayer('vxg' + lastTab + lastKey);

            // TODO: Change loader type
            if (document.webkitIsFullScreen == true)
            {
                console.log("ENTER");
                player.controls(true);
                player.custom_digital_zoom(true);
            }
            else
            {
                console.log("EXIT");
                player.controls(false);
                player.custom_digital_zoom(false);
                $('#vxg' + lastTab + lastKey).find(".vxgplayer-controls").remove();
                $('#vxg' + lastTab + lastKey).find(".vxgplayer-controls-zoom").remove();
                $('#vxg' + lastTab + lastKey).find(".vxgplayer-controls-zoom-position").remove();
            }
        });*/

        /******************* Sound Alarm Functions *******************/

        function playAlarm() 
        {
            audio.addEventListener('ended', function () 
            {
                this.currentTime = 0;
                this.play();
            }, false);
            audio.play();
        }

        function pauseAlarm() 
        {
            audio.pause();
        }

        /******************* Alerts Functions *******************/

        function startTimer() 
        {
            console.log("Start Alerts Poll");
            alertsIntervalHandler = setInterval(alertFunc, interval);
        }

        function stopTimer()
        {
            console.log("Stop Alerts Poll");
            clearInterval(alertsIntervalHandler);
        }

        function alertFunc() 
        {
            var sound_dict = {{ sound_dict|safe }};
            for (var key in alerts)
            {
                alerts[key] = alerts[key] + interval;
                var flag = 0;
                for (var sound_enable in sound_dict[key]){
                    if (sound_dict[key][sound_enable] == 1)
                    {
                        flag = 1;
                        break;
                    }
                }
                <!--window.alert(flag)-->
                list_detected_objects_for_current_cam = detected_objects[key];
                if (alerts[key] >= alertShowTime) 
                {
                    if ($(".cardBody" + key) != undefined) 
                    {
                        $('.cardSubtitle' + key).hide();
                        $('.cardSubtitle' + key).html('');
                        $('.cardBody' + key).removeClass('bg-danger');
                        $('.cardTitle' + key).css('color', 'initial');

                        pauseAlarm();
                        delete alerts[key];
                    }
                }
                else if ( flag == 1)
                {

                    if ( list_detected_objects_for_current_cam != undefined){
                        for (var object in list_detected_objects_for_current_cam){
                            if (sound_dict[key][object] == 1){
                                playAlarm();
                            }
                        }
                    }
                }
            }

            getAlertsAJAX = $.ajax(
            {
                url: '/getAlerts',
                type: 'POST',
                dataType: "json",
                success: function (response) 
                {
                    console.log('Alerts:', response);
                    detected_objects = response;
                    $.each(response, function (key, val)
                    {
                        if ($(".cardBody" + key) != undefined) 
                        {
                            alerts[key] = 0;
                            for (var object in val)
                            {
                                if (sound_dict[key][val[object]] == 1)
                                {
                                    playAlarm();
                                }
                            }
                            $('.cardBody' + key).addClass('bg-danger');
                            $('.cardSubtitle' + key).html('<strong>' + [val.slice(0, -1).join(', '), val.slice(-1)[0]].join(val.length < 2 ? '' : ' and ') + ' Detected!</strong>');
                            $('.cardSubtitle' + key).fadeIn(500);
                            $('.cardSubtitle' + key).css('color', 'white');
                            $('.cardTitle' + key).css('color', 'white');
                        }
                    });
                },
                error: function () 
                {
                    // window.location = "/";
                    console.log('Error');
                }
            });
        }

        // Start polling for alerts
        startTimer();

    </script>
    <style>
        ::placeholder {
          opacity: 1 !important; /* Firefox */
          font-size: 15px; !important
        }

        .form-control {
        }

        .pill .active a{
            background:orange !important;
                color:white;
        }
        .pill .active a:hover{
                <!--background:orange !important;-->
            }
        .pill a:hover {
             background:orange !important;
            color:white;
        }
        .pill a:inactive {
            background:orange !important;
            color:white;

        }

        input[type=text] {
            font-size: 15px;
        }

        .nav-pill-text{
            font-size: 18px;
            font-weight: bold !important;
        }

        .top-bar-link p{
            font-size: 30px;
        }

        .top-bar-link i{
            font-size: 30px !important;
            width: 40px !important;
        }

        html, body {
          height: 100%;
        }

        #mainHeader {
            min-height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin-top: 100px;
            background-image: url('/static/img/wall.jpg')
        }

        .footer {
          position: relative;
          margin-top: -150px; /* negative value of footer height */
          height: 150px;
          clear:both;
        }
    </style>
</head>

<body class="profile-page" onload="onLoad()" >
    <nav class="navbar navbar-expand-sm fixed-top bg-white" id="mainNavbar">
        <div class="navbar-translate" style="height:80px;">
            <a class="navbar-brand" href="/" rel="tooltip" title="DeepSight AI Labs" data-placement="bottom">
                <img class="dsal_logo" src="/static/img/dsal.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="container">
            <div class="collapse navbar-collapse" data-nav-image="/static/img/blur1.jpg" data-color="orange">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link top-bar-link" href="/list">
                            <i class="fa fa-list"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link top-bar-link" href="/view">
                            <i class="fa fa-camera"></i>
                            <p>View</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link top-bar-link" href="/add">
                            <i class="fa fa-plus"></i>
                            <p>Add Camera</p>
                        </a>
                    </li>
                    <!--<li class="nav-item dropdown">-->
                        <!--<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">-->
                            <!--<p>Background</p>-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
                            <!--<a class="dropdown-item" href="/background/bank/view">Bank</a>-->
                            <!--<a class="dropdown-item" href="/background/hospital/view">Hospital</a>-->
                            <!--<a class="dropdown-item" href="/background/insurance/view">Insurance</a>-->
                            <!--<a class="dropdown-item" href="/background/pixel/view">Pixel</a>-->
                            <!--<a class="dropdown-item" href="/background/retail/view">Retail</a>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa fa-file-alt"></i>
                            <p>License Status</p>
                        </a>
                    </li>
                </ul>
                <form class="form form-newsletter" method="POST" action="/view/search">
                    <div class="form-group">
                        <input value="{{ searched_name }}" id="search_name" name="search_name" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-primary btn-icon btn-round">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div id="myModal" class="modal">
        <img id='fullScreenImage' class='modal_content' src=''>
    </div>

    <div id="mainHeader" class="wrapper">
        <!--<div class="page-header page-header-mini">-->
            <!--<div class="page-header-image" style="background-image: url('/static/img/{{ image }}');"></div>-->
            <!--<div class="content-center">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-8 ml-auto mr-auto text-center">-->
                        <!--<h2 class="title">GoDeep Platform</h2>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if not search_mode %}
                    <div class="nav-align-center">
                        <ul class="nav nav-pills nav-pills-info pill justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link nav-pill-text" data-toggle="tab" href="#Fav" role="tablist">
                                    Favourites
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active nav-pill-text" data-toggle="tab" href="#All" role="tablist">
                                    All
                                </a>
                            </li>
                            {% for unique_floor, floor_stripped in unique_floors %}
                            <li class="nav-item">
                                <a class="nav-link nav-pill-text" data-toggle="tab" href="#{{ floor_stripped }}" role="tablist">
                                    {{ unique_floor }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="tab-content gallery">
                        <div class="tab-pane" id="Fav" role="tabpanel">
                            <div class="row">
                                {% for id, name, rtsp_url, priority, floor, start_time, end_time, favourite, objects_list, obj_alerts_list in data %}
                                {% if favourite == 1 %}
                                <div class="col-md-3">
                                    <div class="card card-profile">
                                        <div class="card-image" id="card-image-div-Fav-{{ id }}">
                                            <img id="defaultImageFav{{ id }}" class="img rounded" src="/static/img/default_view.jpg">
                                        </div>
                                        <div class="card-body cardBody{{ id }}" style="padding: 0.4rem;">
                                            <h5 style="margin-bottom: 4px; margin-top: 2px;" class="card-title cardTitle{{ id }}">{{ name }}</h5>
                                            <h6 class="cardSubtitle{{ id }}"></h6>

                                            <div class="card-footer" style="margin-top: 0px;">
                                                <a href="/favourite/{{ id }}" class="btn btn-icon btn-neutral btn-openid" style="margin: 0px; background-color: #FFFFFF;">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                <p hidden id="streamFav{{ id }}">{{ rtsp_url }}</p>

                                                <div id="playerControls{{ id }}" class="playerControls">
                                                    <a id='playBtnFav{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="playButton({{ id }}, 'Fav')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtnFav{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="pauseButton({{ id }}, 'Fav')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtnFav{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="toggleFullScreen({{ id }}, 'Fav')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id }}, 'Fav')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane active" id="All" role="tabpanel">
                            <div class="row">
                                {% for id, name, rtsp_url, priority, floor, start_time, end_time, favourite, objects_list, obj_alerts_list in data %}
                                <div class="col-md-3">
                                    <div class="card card-profile">
                                        <div class="card-image" id="card-image-div-All-{{ id }}">
                                            <img id="defaultImageAll{{ id }}" class="img rounded" src="/static/img/default_view.jpg">
                                        </div>
                                        <div class="card-body cardBody{{ id }}" style="padding: 0.4rem;">
                                            <h5 style="margin-bottom: 4px; margin-top: 2px;" class="card-title cardTitle{{ id }}">{{ name }}</h5>
                                            <h6 class="cardSubtitle{{ id }}"></h6>

                                            <div class="card-footer" style="margin-top: 0px;">
                                                <a href="/favourite/{{ id }}" class="btn btn-icon btn-neutral {{ 'btn-openid' if favourite == 1 else 'btn-unfavourite' }}" style="margin: 0px; background-color: #FFFFFF;">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                                
                                                <p hidden id="streamAll{{ id }}">{{ rtsp_url }}</p>

                                                <div id="playerControls{{ id }}" class="playerControls">
                                                    <a id='playBtnAll{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="playButton({{ id }}, 'All')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtnAll{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="pauseButton({{ id }}, 'All')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtnAll{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="toggleFullScreen({{ id }}, 'All')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id }}, 'All')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for unique_floor, floor_stripped in unique_floors %}
                        <div class="tab-pane" id="{{ floor_stripped }}" role="tabpanel">
                            <div class="row">
                                {% for id, name, rtsp_url, priority, floor, start_time, end_time, favourite, objects_list, obj_alerts_list in data %}
                                {% if unique_floor|string() == floor|string() %}
                                <div class="col-md-3">
                                    <div class="card card-profile">
                                        <div class="card-image" id="card-image-div-{{ floor_stripped }}-{{ id }}">
                                            <img id="defaultImage{{ floor_stripped }}{{ id }}" class="img rounded" src="/static/img/default_view.jpg">
                                        </div>
                                        <div class="card-body cardBody{{ id }}" style="padding: 0.4rem;">
                                            <h5 style="margin-bottom: 4px; margin-top: 2px;" class="card-title cardTitle{{ id }}">{{ name }}</h5>
                                            <h6 class="cardSubtitle{{ id }}"></h6>

                                            <div class="card-footer" style="margin-top: 0px;">
                                                <a href="/favourite/{{ id }}" class="btn btn-icon btn-neutral {{ 'btn-openid' if favourite == 1 else 'btn-unfavourite' }}" style="margin: 0px; background-color: #FFFFFF;">
                                                    <i class="fa fa-star"></i>
                                                </a>

                                                <p hidden id="stream{{ floor_stripped }}{{ id }}">{{ rtsp_url }}</p>

                                                <div id="playerControls{{ floor_stripped }}{{ id }}" class="playerControls">
                                                    <a id='playBtn{{ floor_stripped }}{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="playButton({{ id }}, '{{ floor_stripped }}')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='pauseBtn{{ floor_stripped }}{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="pauseButton({{ id }}, '{{ floor_stripped }}')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                                    </a>
                                                    <a id='fullScreenBtn{{ floor_stripped }}{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                        <i onclick="toggleFullScreen({{ id }}, '{{ floor_stripped }}')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                                    </a>

                                                    <!-- Dummy image for onload event trigger -->
                                                    <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id }}, '{{ floor_stripped }}')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {% else %}
                    <div class="ml-auto mr-auto col-md-3" style="padding-top: 4vh;">
                        <a href="/view" class="btn btn-default btn-round btn-block">Clear Search</a>
                    </div>

                    <div class="row">
                        {% for id, name, rtsp_url, priority, floor, start_time, end_time, favourite, objects_list, obj_alerts_list in data %}
                        <div class="col-md-3">
                            <div class="card card-profile">
                                <div class="card-image" id="card-image-div-Search-{{ id }}">
                                    <img id="defaultImageSearch{{ id }}" class="img rounded" src="/static/img/default_view.jpg">
                                </div>
                                <div class="card-body cardBody{{ id }}" style="padding: 0.4rem;">
                                    <h5 style="margin-bottom: 4px; margin-top: 2px;" class="card-title cardTitle{{ id }}">{{ name }}</h5>
                                    <h6 class="cardSubtitle{{ id }}"></h6>

                                    <div class="card-footer" style="margin-top: 0px;">
                                        <a href="/favourite/{{ id }}" class="btn btn-icon btn-neutral {{ 'btn-openid' if favourite == 1 else 'btn-unfavourite' }}" style="margin: 0px; background-color: #FFFFFF;">
                                            <i class="fa fa-star"></i>
                                        </a>

                                        <p hidden id="streamSearch{{ id }}">{{ rtsp_url }}</p>

                                        <div id="playerControls{{ id }}" class="playerControls">
                                            <a id='playBtnSearch{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                <i onclick="playButton({{ id }}, 'Search')" class='fa fa-play playerIcon playIcon' aria-hidden='true'></i>
                                            </a>
                                            <a id='pauseBtnSearch{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                <i onclick="pauseButton({{ id }}, 'Search')" class='fa fa-pause playerIcon pauseIcon' aria-hidden='true'></i>
                                            </a>
                                            <a id='fullScreenBtnSearch{{ id }}' class="btn btn-icon btn-neutral" style="margin: 0px; background-color: #FFFFFF;">
                                                <i onclick="toggleFullScreen({{ id }}, 'Search')" class='fa fa-expand playerIcon fullScreenIcon' aria-hidden='true'></i>
                                            </a>

                                            <!-- Dummy image for onload event trigger -->
                                            <img hidden src="/static/img/Pixel.jpeg" onload="playerOnLoad({{ id }}, 'Search')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <strong>GoDeep</strong> Platform
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>,
                <a href="http://www.deepsightlabs.com" target="_blank">DeepSight AI Labs</a>
            </div>
        </div>
    </footer>
</body>

<!-- Core JS Files -->
<script src="/static/js/popper.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="/static/js/jasny-bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>

</html>
